<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <ui:insert name="title"></ui:insert>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="#{request.contextPath}/resources/img/favico.png"/>

    <!-- Google Fonts -->
    <h:outputStylesheet library="css" name="googleFonts.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Core Css -->
    <h:outputStylesheet library="css" name="bootstrap.css" />
    <!-- Waves Effect Css -->
    <h:outputStylesheet library="css" name="waves.css" />
    <!-- Animation Css -->
    <h:outputStylesheet library="css" name="animate.css" />
    <!-- Custom Css -->
    <h:outputStylesheet library="css" name="style.css" />
    <!-- Morris Chart Css-->
    <h:outputStylesheet library="css" name="morris.css" />
    <!-- Sweet Alert Css -->
    <h:outputStylesheet library="css" name="sweetalert.css" />
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <h:outputStylesheet library="css" name="all-themes.css" />

</html>
