<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <div class="menu">
        <ul class="list">
            <li class="header">#{inicioSesion.rolSeleccionado.nomRol}</li>
            <c:forEach items="#{inicioSesion.rolSeleccionado.gnPermisos}" var="p">
                <c:if test="#{empty p.permisoPadre}">
                    <li> <a href="javascript:void(0);" class="menu-toggle"><i class=""></i> <span>#{p.nombrePermiso}</span> <span class="label label-important">#{p.hashCode()}</span></a>
                        <ul class="ml-menu">
                            <c:forEach items="#{p.subPermisos}" var="sp">
                                <c:forEach items="#{inicioSesion.rolSeleccionado.gnPermisos}" var="pp">
                                    <c:if test="#{sp.equals(pp)}">
                                        <li>
                                            <h:link outcome="#{sp.url}" value="#{sp.nombrePermiso}"/>
                                        </li>
                                    </c:if>
                                </c:forEach>
                            </c:forEach>
                        </ul>
                    </li>
                </c:if>
            </c:forEach>
        </ul>
    </div>
    <!-- #Menu -->


</html>

