<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- Jquery Core Js -->
    <h:outputScript library="js" name="jquery.js"   />
    <!-- Bootstrap Core Js -->
    <h:outputScript library="js" name="bootstrap.js"   />
    <!-- Waves Effect Plugin Js -->
    <h:outputScript library="js" name="waves.js"   />
    <!-- Validation Plugin Js -->
    <h:outputScript library="js" name="jquery-validate.js"   />
    <!-- Custom Js -->
    <h:outputScript library="js" name="admin.js"   />
    <h:outputScript library="js" name="sign-in.js"  />
    <!-- Select Plugin Js -->
    <h:outputScript library="js" name="bootstrap-select.js"  />
    <!-- Slimscroll Plugin Js -->
    <h:outputScript library="js" name="jquery-slimscroll.js"  />
    <!-- Jquery CountTo Plugin Js -->
    <h:outputScript library="js" name="jquery-countTo.js"  />
    <!-- Morris Plugin Js -->
    <h:outputScript library="js" name="raphael-min.js"  />
    <h:outputScript library="js" name="morris.js"  />
    <!-- ChartJs -->
    <h:outputScript library="js" name="Chart-bundle.js"  />
    <!-- Flot Charts Plugin Js -->
    <h:outputScript library="js" name="jquery-flot.js"  />
    <h:outputScript library="js" name="jquery-flot-resize.js"  />
    <h:outputScript library="js" name="jquery-flot-pie.js"  />
    <h:outputScript library="js" name="jquery-flot-categories.js"  />
    <h:outputScript library="js" name="jquery-flot-time.js"  />

    <!-- Sparkline Chart Plugin Js -->
    <h:outputScript library="js" name="jquery-sparkline.js"  />
    <h:outputScript library="js" name="index.js"  />
    <h:outputScript library="js" name="demo.js"  />
    
    <!-- Jquery DataTable Plugin Js -->
    <h:outputScript library="js" name="dataTables.js"  />
    <h:outputScript library="js" name="buttons-flash-min.js"  />
    <h:outputScript library="js" name="buttons.js"  />
    <h:outputScript library="js" name="bootstrap.js"  />
    <h:outputScript library="js" name="jszip-min.js"  />
    <h:outputScript library="js" name="pdfmake-min.js"  />
    <h:outputScript library="js" name="vfs-fonts.js"  />
    <h:outputScript library="js" name="buttons-html5-min.js"  />
    <h:outputScript library="js" name="buttons-print-min.js"   />
    <h:outputScript library="js" name="jquery-datatable.js"   />
    <h:outputScript library="js" name="jquery.validationEngine-es.js"   />
    <h:outputScript library="js" name="jquery.validationEngine.js"   />

</html>

