<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.CreateBiTerceroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_codTercero}" for="codTercero" />
                    <h:inputText id="codTercero" value="#{biTerceroController.selected.codTercero}" title="#{parametro.CreateBiTerceroTitle_codTercero}" required="true" requiredMessage="#{parametro.CreateBiTerceroRequiredMessage_codTercero}"/>
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_tipTercero}" for="tipTercero" />
                    <h:inputText id="tipTercero" value="#{biTerceroController.selected.tipTercero}" title="#{parametro.CreateBiTerceroTitle_tipTercero}" required="true" requiredMessage="#{parametro.CreateBiTerceroRequiredMessage_tipTercero}"/>
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_priNombre}" for="priNombre" />
                    <h:inputText id="priNombre" value="#{biTerceroController.selected.priNombre}" title="#{parametro.CreateBiTerceroTitle_priNombre}" required="true" requiredMessage="#{parametro.CreateBiTerceroRequiredMessage_priNombre}"/>
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_segNombre}" for="segNombre" />
                    <h:inputText id="segNombre" value="#{biTerceroController.selected.segNombre}" title="#{parametro.CreateBiTerceroTitle_segNombre}" />
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_priApellido}" for="priApellido" />
                    <h:inputText id="priApellido" value="#{biTerceroController.selected.priApellido}" title="#{parametro.CreateBiTerceroTitle_priApellido}" />
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_segApellido}" for="segApellido" />
                    <h:inputText id="segApellido" value="#{biTerceroController.selected.segApellido}" title="#{parametro.CreateBiTerceroTitle_segApellido}" />
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_fecNacimiento}" for="fecNacimiento" />
                    <h:inputText id="fecNacimiento" value="#{biTerceroController.selected.fecNacimiento}" title="#{parametro.CreateBiTerceroTitle_fecNacimiento}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_indActividad}" for="indActividad" />
                    <h:inputText id="indActividad" value="#{biTerceroController.selected.indActividad}" title="#{parametro.CreateBiTerceroTitle_indActividad}" required="true" requiredMessage="#{parametro.CreateBiTerceroRequiredMessage_indActividad}"/>
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_dirResidencia}" for="dirResidencia" />
                    <h:inputText id="dirResidencia" value="#{biTerceroController.selected.dirResidencia}" title="#{parametro.CreateBiTerceroTitle_dirResidencia}" required="true" requiredMessage="#{parametro.CreateBiTerceroRequiredMessage_dirResidencia}"/>
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_telResidencia}" for="telResidencia" />
                    <h:inputText id="telResidencia" value="#{biTerceroController.selected.telResidencia}" title="#{parametro.CreateBiTerceroTitle_telResidencia}" required="true" requiredMessage="#{parametro.CreateBiTerceroRequiredMessage_telResidencia}"/>
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_corElectronico}" for="corElectronico" />
                    <h:inputText id="corElectronico" value="#{biTerceroController.selected.corElectronico}" title="#{parametro.CreateBiTerceroTitle_corElectronico}" required="true" requiredMessage="#{parametro.CreateBiTerceroRequiredMessage_corElectronico}"/>
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_clave}" for="clave" />
                    <h:inputText id="clave" value="#{biTerceroController.selected.clave}" title="#{parametro.CreateBiTerceroTitle_clave}" required="true" requiredMessage="#{parametro.CreateBiTerceroRequiredMessage_clave}"/>
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_actUsuario}" for="actUsuario" />
                    <h:inputText id="actUsuario" value="#{biTerceroController.selected.actUsuario}" title="#{parametro.CreateBiTerceroTitle_actUsuario}" />
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_actEsta}" for="actEsta" />
                    <h:inputText id="actEsta" value="#{biTerceroController.selected.actEsta}" title="#{parametro.CreateBiTerceroTitle_actEsta}" required="true" requiredMessage="#{parametro.CreateBiTerceroRequiredMessage_actEsta}"/>
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_actHora}" for="actHora" />
                    <h:inputText id="actHora" value="#{biTerceroController.selected.actHora}" title="#{parametro.CreateBiTerceroTitle_actHora}" required="true" requiredMessage="#{parametro.CreateBiTerceroRequiredMessage_actHora}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_codMunicipioResidencia}" for="codMunicipioResidencia" />
                    <h:selectOneMenu id="codMunicipioResidencia" value="#{biTerceroController.selected.codMunicipioResidencia}" title="#{parametro.CreateBiTerceroTitle_codMunicipioResidencia}" required="true" requiredMessage="#{parametro.CreateBiTerceroRequiredMessage_codMunicipioResidencia}">
                        <f:selectItems value="#{gnMunicipioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_munNacimiento}" for="munNacimiento" />
                    <h:selectOneMenu id="munNacimiento" value="#{biTerceroController.selected.munNacimiento}" title="#{parametro.CreateBiTerceroTitle_munNacimiento}" >
                        <f:selectItems value="#{gnMunicipioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_tipIdentificacion}" for="tipIdentificacion" />
                    <h:selectOneMenu id="tipIdentificacion" value="#{biTerceroController.selected.tipIdentificacion}" title="#{parametro.CreateBiTerceroTitle_tipIdentificacion}" required="true" requiredMessage="#{parametro.CreateBiTerceroRequiredMessage_tipIdentificacion}">
                        <f:selectItems value="#{gnTipoidentificacionController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_codEmpleado}" for="codEmpleado" />
                    <h:selectOneMenu id="codEmpleado" value="#{biTerceroController.selected.codEmpleado}" title="#{parametro.CreateBiTerceroTitle_codEmpleado}" >
                        <f:selectItems value="#{biTerceroController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{parametro.CreateBiTerceroLabel_codTipoBeneficiario}" for="codTipoBeneficiario" />
                    <h:selectOneMenu id="codTipoBeneficiario" value="#{biTerceroController.selected.codTipoBeneficiario}" title="#{parametro.CreateBiTerceroTitle_codTipoBeneficiario}" >
                        <f:selectItems value="#{gnTipobeneficiarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{biTerceroController.create}" value="#{parametro.CreateBiTerceroSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{biTerceroController.prepareList}" value="#{parametro.CreateBiTerceroShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.CreateBiTerceroIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
