<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.EditBiTerceroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_codTercero}" for="codTercero" />
                    <h:inputText id="codTercero" value="#{biTerceroController.selected.codTercero}" title="#{parametro.EditBiTerceroTitle_codTercero}" required="true" requiredMessage="#{parametro.EditBiTerceroRequiredMessage_codTercero}"/>
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_tipTercero}" for="tipTercero" />
                    <h:inputText id="tipTercero" value="#{biTerceroController.selected.tipTercero}" title="#{parametro.EditBiTerceroTitle_tipTercero}" required="true" requiredMessage="#{parametro.EditBiTerceroRequiredMessage_tipTercero}"/>
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_priNombre}" for="priNombre" />
                    <h:inputText id="priNombre" value="#{biTerceroController.selected.priNombre}" title="#{parametro.EditBiTerceroTitle_priNombre}" required="true" requiredMessage="#{parametro.EditBiTerceroRequiredMessage_priNombre}"/>
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_segNombre}" for="segNombre" />
                    <h:inputText id="segNombre" value="#{biTerceroController.selected.segNombre}" title="#{parametro.EditBiTerceroTitle_segNombre}" />
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_priApellido}" for="priApellido" />
                    <h:inputText id="priApellido" value="#{biTerceroController.selected.priApellido}" title="#{parametro.EditBiTerceroTitle_priApellido}" />
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_segApellido}" for="segApellido" />
                    <h:inputText id="segApellido" value="#{biTerceroController.selected.segApellido}" title="#{parametro.EditBiTerceroTitle_segApellido}" />
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_fecNacimiento}" for="fecNacimiento" />
                    <h:inputText id="fecNacimiento" value="#{biTerceroController.selected.fecNacimiento}" title="#{parametro.EditBiTerceroTitle_fecNacimiento}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_indActividad}" for="indActividad" />
                    <h:inputText id="indActividad" value="#{biTerceroController.selected.indActividad}" title="#{parametro.EditBiTerceroTitle_indActividad}" required="true" requiredMessage="#{parametro.EditBiTerceroRequiredMessage_indActividad}"/>
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_dirResidencia}" for="dirResidencia" />
                    <h:inputText id="dirResidencia" value="#{biTerceroController.selected.dirResidencia}" title="#{parametro.EditBiTerceroTitle_dirResidencia}" required="true" requiredMessage="#{parametro.EditBiTerceroRequiredMessage_dirResidencia}"/>
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_telResidencia}" for="telResidencia" />
                    <h:inputText id="telResidencia" value="#{biTerceroController.selected.telResidencia}" title="#{parametro.EditBiTerceroTitle_telResidencia}" required="true" requiredMessage="#{parametro.EditBiTerceroRequiredMessage_telResidencia}"/>
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_corElectronico}" for="corElectronico" />
                    <h:inputText id="corElectronico" value="#{biTerceroController.selected.corElectronico}" title="#{parametro.EditBiTerceroTitle_corElectronico}" required="true" requiredMessage="#{parametro.EditBiTerceroRequiredMessage_corElectronico}"/>
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_clave}" for="clave" />
                    <h:inputText id="clave" value="#{biTerceroController.selected.clave}" title="#{parametro.EditBiTerceroTitle_clave}" required="true" requiredMessage="#{parametro.EditBiTerceroRequiredMessage_clave}"/>
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_actUsuario}" for="actUsuario" />
                    <h:inputText id="actUsuario" value="#{biTerceroController.selected.actUsuario}" title="#{parametro.EditBiTerceroTitle_actUsuario}" />
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_actEsta}" for="actEsta" />
                    <h:inputText id="actEsta" value="#{biTerceroController.selected.actEsta}" title="#{parametro.EditBiTerceroTitle_actEsta}" required="true" requiredMessage="#{parametro.EditBiTerceroRequiredMessage_actEsta}"/>
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_actHora}" for="actHora" />
                    <h:inputText id="actHora" value="#{biTerceroController.selected.actHora}" title="#{parametro.EditBiTerceroTitle_actHora}" required="true" requiredMessage="#{parametro.EditBiTerceroRequiredMessage_actHora}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_codMunicipioResidencia}" for="codMunicipioResidencia" />
                    <h:selectOneMenu id="codMunicipioResidencia" value="#{biTerceroController.selected.codMunicipioResidencia}" title="#{parametro.EditBiTerceroTitle_codMunicipioResidencia}" required="true" requiredMessage="#{parametro.EditBiTerceroRequiredMessage_codMunicipioResidencia}">
                        <f:selectItems value="#{gnMunicipioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_munNacimiento}" for="munNacimiento" />
                    <h:selectOneMenu id="munNacimiento" value="#{biTerceroController.selected.munNacimiento}" title="#{parametro.EditBiTerceroTitle_munNacimiento}" >
                        <f:selectItems value="#{gnMunicipioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_tipIdentificacion}" for="tipIdentificacion" />
                    <h:selectOneMenu id="tipIdentificacion" value="#{biTerceroController.selected.tipIdentificacion}" title="#{parametro.EditBiTerceroTitle_tipIdentificacion}" required="true" requiredMessage="#{parametro.EditBiTerceroRequiredMessage_tipIdentificacion}">
                        <f:selectItems value="#{gnTipoidentificacionController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_codEmpleado}" for="codEmpleado" />
                    <h:selectOneMenu id="codEmpleado" value="#{biTerceroController.selected.codEmpleado}" title="#{parametro.EditBiTerceroTitle_codEmpleado}" >
                        <f:selectItems value="#{biTerceroController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{parametro.EditBiTerceroLabel_codTipoBeneficiario}" for="codTipoBeneficiario" />
                    <h:selectOneMenu id="codTipoBeneficiario" value="#{biTerceroController.selected.codTipoBeneficiario}" title="#{parametro.EditBiTerceroTitle_codTipoBeneficiario}" >
                        <f:selectItems value="#{gnTipobeneficiarioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{biTerceroController.update}" value="#{parametro.EditBiTerceroSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{parametro.EditBiTerceroViewLink}"/>
                <br />
                <h:commandLink action="#{biTerceroController.prepareList}" value="#{parametro.EditBiTerceroShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.EditBiTerceroIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
