<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListBiTerceroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListBiTerceroEmpty}" rendered="#{biTerceroController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{biTerceroController.items.rowCount > 0}">
                    <h:outputText value="#{biTerceroController.pagination.pageFirstItem + 1}..#{biTerceroController.pagination.pageLastItem + 1}/#{biTerceroController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{biTerceroController.previous}" value="#{parametro.Previous} #{biTerceroController.pagination.pageSize}" rendered="#{biTerceroController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{biTerceroController.next}" value="#{parametro.Next} #{biTerceroController.pagination.pageSize}" rendered="#{biTerceroController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{biTerceroController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_codTercero}"/>
                            </f:facet>
                            <h:outputText value="#{item.codTercero}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_tipTercero}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipTercero}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_priNombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.priNombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_segNombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.segNombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_priApellido}"/>
                            </f:facet>
                            <h:outputText value="#{item.priApellido}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_segApellido}"/>
                            </f:facet>
                            <h:outputText value="#{item.segApellido}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_fecNacimiento}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecNacimiento}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_indActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.indActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_dirResidencia}"/>
                            </f:facet>
                            <h:outputText value="#{item.dirResidencia}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_telResidencia}"/>
                            </f:facet>
                            <h:outputText value="#{item.telResidencia}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_corElectronico}"/>
                            </f:facet>
                            <h:outputText value="#{item.corElectronico}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_clave}"/>
                            </f:facet>
                            <h:outputText value="#{item.clave}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_actUsuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.actUsuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_actEsta}"/>
                            </f:facet>
                            <h:outputText value="#{item.actEsta}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_actHora}"/>
                            </f:facet>
                            <h:outputText value="#{item.actHora}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_codMunicipioResidencia}"/>
                            </f:facet>
                            <h:outputText value="#{item.codMunicipioResidencia}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_munNacimiento}"/>
                            </f:facet>
                            <h:outputText value="#{item.munNacimiento}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_tipIdentificacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipIdentificacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_codEmpleado}"/>
                            </f:facet>
                            <h:outputText value="#{item.codEmpleado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiTerceroTitle_codTipoBeneficiario}"/>
                            </f:facet>
                            <h:outputText value="#{item.codTipoBeneficiario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{biTerceroController.prepareView}" value="#{parametro.ListBiTerceroViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{biTerceroController.prepareEdit}" value="#{parametro.ListBiTerceroEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{biTerceroController.destroy}" value="#{parametro.ListBiTerceroDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{biTerceroController.prepareCreate}" value="#{parametro.ListBiTerceroCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListBiTerceroIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
