<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewBiTerceroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_codTercero}"/>
                    <h:outputText value="#{biTerceroController.selected.codTercero}" title="#{parametro.ViewBiTerceroTitle_codTercero}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_tipTercero}"/>
                    <h:outputText value="#{biTerceroController.selected.tipTercero}" title="#{parametro.ViewBiTerceroTitle_tipTercero}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_priNombre}"/>
                    <h:outputText value="#{biTerceroController.selected.priNombre}" title="#{parametro.ViewBiTerceroTitle_priNombre}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_segNombre}"/>
                    <h:outputText value="#{biTerceroController.selected.segNombre}" title="#{parametro.ViewBiTerceroTitle_segNombre}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_priApellido}"/>
                    <h:outputText value="#{biTerceroController.selected.priApellido}" title="#{parametro.ViewBiTerceroTitle_priApellido}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_segApellido}"/>
                    <h:outputText value="#{biTerceroController.selected.segApellido}" title="#{parametro.ViewBiTerceroTitle_segApellido}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_fecNacimiento}"/>
                    <h:outputText value="#{biTerceroController.selected.fecNacimiento}" title="#{parametro.ViewBiTerceroTitle_fecNacimiento}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_indActividad}"/>
                    <h:outputText value="#{biTerceroController.selected.indActividad}" title="#{parametro.ViewBiTerceroTitle_indActividad}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_dirResidencia}"/>
                    <h:outputText value="#{biTerceroController.selected.dirResidencia}" title="#{parametro.ViewBiTerceroTitle_dirResidencia}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_telResidencia}"/>
                    <h:outputText value="#{biTerceroController.selected.telResidencia}" title="#{parametro.ViewBiTerceroTitle_telResidencia}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_corElectronico}"/>
                    <h:outputText value="#{biTerceroController.selected.corElectronico}" title="#{parametro.ViewBiTerceroTitle_corElectronico}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_clave}"/>
                    <h:outputText value="#{biTerceroController.selected.clave}" title="#{parametro.ViewBiTerceroTitle_clave}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_actUsuario}"/>
                    <h:outputText value="#{biTerceroController.selected.actUsuario}" title="#{parametro.ViewBiTerceroTitle_actUsuario}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_actEsta}"/>
                    <h:outputText value="#{biTerceroController.selected.actEsta}" title="#{parametro.ViewBiTerceroTitle_actEsta}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_actHora}"/>
                    <h:outputText value="#{biTerceroController.selected.actHora}" title="#{parametro.ViewBiTerceroTitle_actHora}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_codMunicipioResidencia}"/>
                    <h:outputText value="#{biTerceroController.selected.codMunicipioResidencia}" title="#{parametro.ViewBiTerceroTitle_codMunicipioResidencia}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_munNacimiento}"/>
                    <h:outputText value="#{biTerceroController.selected.munNacimiento}" title="#{parametro.ViewBiTerceroTitle_munNacimiento}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_tipIdentificacion}"/>
                    <h:outputText value="#{biTerceroController.selected.tipIdentificacion}" title="#{parametro.ViewBiTerceroTitle_tipIdentificacion}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_codEmpleado}"/>
                    <h:outputText value="#{biTerceroController.selected.codEmpleado}" title="#{parametro.ViewBiTerceroTitle_codEmpleado}"/>
                    <h:outputText value="#{parametro.ViewBiTerceroLabel_codTipoBeneficiario}"/>
                    <h:outputText value="#{biTerceroController.selected.codTipoBeneficiario}" title="#{parametro.ViewBiTerceroTitle_codTipoBeneficiario}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{biTerceroController.destroyAndView}" value="#{parametro.ViewBiTerceroDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewBiTerceroEditLink}"/>
                <br />
                <h:commandLink action="#{biTerceroController.prepareCreate}" value="#{parametro.ViewBiTerceroCreateLink}" />
                <br />
                <h:commandLink action="#{biTerceroController.prepareList}" value="#{parametro.ViewBiTerceroShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewBiTerceroIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
