<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.CreateGnTipoidentificacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.CreateGnTipoidentificacionLabel_codTipoIdentificacion}" for="codTipoIdentificacion" />
                    <h:inputText id="codTipoIdentificacion" value="#{gnTipoidentificacionController.selected.codTipoIdentificacion}" title="#{parametro.CreateGnTipoidentificacionTitle_codTipoIdentificacion}" required="true" requiredMessage="#{parametro.CreateGnTipoidentificacionRequiredMessage_codTipoIdentificacion}"/>
                    <h:outputLabel value="#{parametro.CreateGnTipoidentificacionLabel_nomTipoIdentificacion}" for="nomTipoIdentificacion" />
                    <h:inputText id="nomTipoIdentificacion" value="#{gnTipoidentificacionController.selected.nomTipoIdentificacion}" title="#{parametro.CreateGnTipoidentificacionTitle_nomTipoIdentificacion}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gnTipoidentificacionController.create}" value="#{parametro.CreateGnTipoidentificacionSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{gnTipoidentificacionController.prepareList}" value="#{parametro.CreateGnTipoidentificacionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.CreateGnTipoidentificacionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
