<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.EditGnTipoidentificacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.EditGnTipoidentificacionLabel_codTipoIdentificacion}" for="codTipoIdentificacion" />
                    <h:inputText id="codTipoIdentificacion" value="#{gnTipoidentificacionController.selected.codTipoIdentificacion}" title="#{parametro.EditGnTipoidentificacionTitle_codTipoIdentificacion}" required="true" requiredMessage="#{parametro.EditGnTipoidentificacionRequiredMessage_codTipoIdentificacion}"/>
                    <h:outputLabel value="#{parametro.EditGnTipoidentificacionLabel_nomTipoIdentificacion}" for="nomTipoIdentificacion" />
                    <h:inputText id="nomTipoIdentificacion" value="#{gnTipoidentificacionController.selected.nomTipoIdentificacion}" title="#{parametro.EditGnTipoidentificacionTitle_nomTipoIdentificacion}" />
                </h:panelGrid>
                <h:commandLink action="#{gnTipoidentificacionController.update}" value="#{parametro.EditGnTipoidentificacionSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{parametro.EditGnTipoidentificacionViewLink}"/>
                <br />
                <h:commandLink action="#{gnTipoidentificacionController.prepareList}" value="#{parametro.EditGnTipoidentificacionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.EditGnTipoidentificacionIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
