<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListGnTipoidentificacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListGnTipoidentificacionEmpty}" rendered="#{gnTipoidentificacionController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{gnTipoidentificacionController.items.rowCount > 0}">
                    <h:outputText value="#{gnTipoidentificacionController.pagination.pageFirstItem + 1}..#{gnTipoidentificacionController.pagination.pageLastItem + 1}/#{gnTipoidentificacionController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{gnTipoidentificacionController.previous}" value="#{parametro.Previous} #{gnTipoidentificacionController.pagination.pageSize}" rendered="#{gnTipoidentificacionController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{gnTipoidentificacionController.next}" value="#{parametro.Next} #{gnTipoidentificacionController.pagination.pageSize}" rendered="#{gnTipoidentificacionController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{gnTipoidentificacionController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnTipoidentificacionTitle_codTipoIdentificacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.codTipoIdentificacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnTipoidentificacionTitle_nomTipoIdentificacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomTipoIdentificacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{gnTipoidentificacionController.prepareView}" value="#{parametro.ListGnTipoidentificacionViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnTipoidentificacionController.prepareEdit}" value="#{parametro.ListGnTipoidentificacionEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnTipoidentificacionController.destroy}" value="#{parametro.ListGnTipoidentificacionDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{gnTipoidentificacionController.prepareCreate}" value="#{parametro.ListGnTipoidentificacionCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListGnTipoidentificacionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
