<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewGnTipoidentificacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewGnTipoidentificacionLabel_codTipoIdentificacion}"/>
                    <h:outputText value="#{gnTipoidentificacionController.selected.codTipoIdentificacion}" title="#{parametro.ViewGnTipoidentificacionTitle_codTipoIdentificacion}"/>
                    <h:outputText value="#{parametro.ViewGnTipoidentificacionLabel_nomTipoIdentificacion}"/>
                    <h:outputText value="#{gnTipoidentificacionController.selected.nomTipoIdentificacion}" title="#{parametro.ViewGnTipoidentificacionTitle_nomTipoIdentificacion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gnTipoidentificacionController.destroyAndView}" value="#{parametro.ViewGnTipoidentificacionDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewGnTipoidentificacionEditLink}"/>
                <br />
                <h:commandLink action="#{gnTipoidentificacionController.prepareCreate}" value="#{parametro.ViewGnTipoidentificacionCreateLink}" />
                <br />
                <h:commandLink action="#{gnTipoidentificacionController.prepareList}" value="#{parametro.ViewGnTipoidentificacionShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewGnTipoidentificacionIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
