<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.CreatePeAsignacionpresupuestoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.CreatePeAsignacionpresupuestoLabel_codPresupuesto}" for="codPresupuesto" />
                    <h:inputText id="codPresupuesto" value="#{peAsignacionpresupuestoController.selected.codPresupuesto}" title="#{parametro.CreatePeAsignacionpresupuestoTitle_codPresupuesto}" required="true" requiredMessage="#{parametro.CreatePeAsignacionpresupuestoRequiredMessage_codPresupuesto}"/>
                    <h:outputLabel value="#{parametro.CreatePeAsignacionpresupuestoLabel_codTipoBeneficio}" for="codTipoBeneficio" />
                    <h:inputText id="codTipoBeneficio" value="#{peAsignacionpresupuestoController.selected.codTipoBeneficio}" title="#{parametro.CreatePeAsignacionpresupuestoTitle_codTipoBeneficio}" required="true" requiredMessage="#{parametro.CreatePeAsignacionpresupuestoRequiredMessage_codTipoBeneficio}"/>
                    <h:outputLabel value="#{parametro.CreatePeAsignacionpresupuestoLabel_anoPresupuesto}" for="anoPresupuesto" />
                    <h:inputText id="anoPresupuesto" value="#{peAsignacionpresupuestoController.selected.anoPresupuesto}" title="#{parametro.CreatePeAsignacionpresupuestoTitle_anoPresupuesto}" />
                    <h:outputLabel value="#{parametro.CreatePeAsignacionpresupuestoLabel_valInicial}" for="valInicial" />
                    <h:inputText id="valInicial" value="#{peAsignacionpresupuestoController.selected.valInicial}" title="#{parametro.CreatePeAsignacionpresupuestoTitle_valInicial}" />
                    <h:outputLabel value="#{parametro.CreatePeAsignacionpresupuestoLabel_valEjecutado}" for="valEjecutado" />
                    <h:inputText id="valEjecutado" value="#{peAsignacionpresupuestoController.selected.valEjecutado}" title="#{parametro.CreatePeAsignacionpresupuestoTitle_valEjecutado}" />
                    <h:outputLabel value="#{parametro.CreatePeAsignacionpresupuestoLabel_valPendiente}" for="valPendiente" />
                    <h:inputText id="valPendiente" value="#{peAsignacionpresupuestoController.selected.valPendiente}" title="#{parametro.CreatePeAsignacionpresupuestoTitle_valPendiente}" />
                    <h:outputLabel value="#{parametro.CreatePeAsignacionpresupuestoLabel_usoActividad}" for="usoActividad" />
                    <h:inputText id="usoActividad" value="#{peAsignacionpresupuestoController.selected.usoActividad}" title="#{parametro.CreatePeAsignacionpresupuestoTitle_usoActividad}" />
                    <h:outputLabel value="#{parametro.CreatePeAsignacionpresupuestoLabel_tipActividad}" for="tipActividad" />
                    <h:inputText id="tipActividad" value="#{peAsignacionpresupuestoController.selected.tipActividad}" title="#{parametro.CreatePeAsignacionpresupuestoTitle_tipActividad}" />
                    <h:outputLabel value="#{parametro.CreatePeAsignacionpresupuestoLabel_horActivdad}" for="horActivdad" />
                    <h:inputText id="horActivdad" value="#{peAsignacionpresupuestoController.selected.horActivdad}" title="#{parametro.CreatePeAsignacionpresupuestoTitle_horActivdad}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{peAsignacionpresupuestoController.create}" value="#{parametro.CreatePeAsignacionpresupuestoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{peAsignacionpresupuestoController.prepareList}" value="#{parametro.CreatePeAsignacionpresupuestoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.CreatePeAsignacionpresupuestoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
