<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListPeAsignacionpresupuestoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListPeAsignacionpresupuestoEmpty}" rendered="#{peAsignacionpresupuestoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{peAsignacionpresupuestoController.items.rowCount > 0}">
                    <h:outputText value="#{peAsignacionpresupuestoController.pagination.pageFirstItem + 1}..#{peAsignacionpresupuestoController.pagination.pageLastItem + 1}/#{peAsignacionpresupuestoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{peAsignacionpresupuestoController.previous}" value="#{parametro.Previous} #{peAsignacionpresupuestoController.pagination.pageSize}" rendered="#{peAsignacionpresupuestoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{peAsignacionpresupuestoController.next}" value="#{parametro.Next} #{peAsignacionpresupuestoController.pagination.pageSize}" rendered="#{peAsignacionpresupuestoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{peAsignacionpresupuestoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListPeAsignacionpresupuestoTitle_codPresupuesto}"/>
                            </f:facet>
                            <h:outputText value="#{item.codPresupuesto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListPeAsignacionpresupuestoTitle_codTipoBeneficio}"/>
                            </f:facet>
                            <h:outputText value="#{item.codTipoBeneficio}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListPeAsignacionpresupuestoTitle_anoPresupuesto}"/>
                            </f:facet>
                            <h:outputText value="#{item.anoPresupuesto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListPeAsignacionpresupuestoTitle_valInicial}"/>
                            </f:facet>
                            <h:outputText value="#{item.valInicial}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListPeAsignacionpresupuestoTitle_valEjecutado}"/>
                            </f:facet>
                            <h:outputText value="#{item.valEjecutado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListPeAsignacionpresupuestoTitle_valPendiente}"/>
                            </f:facet>
                            <h:outputText value="#{item.valPendiente}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListPeAsignacionpresupuestoTitle_usoActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.usoActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListPeAsignacionpresupuestoTitle_tipActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListPeAsignacionpresupuestoTitle_horActivdad}"/>
                            </f:facet>
                            <h:outputText value="#{item.horActivdad}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{peAsignacionpresupuestoController.prepareView}" value="#{parametro.ListPeAsignacionpresupuestoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{peAsignacionpresupuestoController.prepareEdit}" value="#{parametro.ListPeAsignacionpresupuestoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{peAsignacionpresupuestoController.destroy}" value="#{parametro.ListPeAsignacionpresupuestoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{peAsignacionpresupuestoController.prepareCreate}" value="#{parametro.ListPeAsignacionpresupuestoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListPeAsignacionpresupuestoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
