<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewPeAsignacionpresupuestoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewPeAsignacionpresupuestoLabel_codPresupuesto}"/>
                    <h:outputText value="#{peAsignacionpresupuestoController.selected.codPresupuesto}" title="#{parametro.ViewPeAsignacionpresupuestoTitle_codPresupuesto}"/>
                    <h:outputText value="#{parametro.ViewPeAsignacionpresupuestoLabel_codTipoBeneficio}"/>
                    <h:outputText value="#{peAsignacionpresupuestoController.selected.codTipoBeneficio}" title="#{parametro.ViewPeAsignacionpresupuestoTitle_codTipoBeneficio}"/>
                    <h:outputText value="#{parametro.ViewPeAsignacionpresupuestoLabel_anoPresupuesto}"/>
                    <h:outputText value="#{peAsignacionpresupuestoController.selected.anoPresupuesto}" title="#{parametro.ViewPeAsignacionpresupuestoTitle_anoPresupuesto}"/>
                    <h:outputText value="#{parametro.ViewPeAsignacionpresupuestoLabel_valInicial}"/>
                    <h:outputText value="#{peAsignacionpresupuestoController.selected.valInicial}" title="#{parametro.ViewPeAsignacionpresupuestoTitle_valInicial}"/>
                    <h:outputText value="#{parametro.ViewPeAsignacionpresupuestoLabel_valEjecutado}"/>
                    <h:outputText value="#{peAsignacionpresupuestoController.selected.valEjecutado}" title="#{parametro.ViewPeAsignacionpresupuestoTitle_valEjecutado}"/>
                    <h:outputText value="#{parametro.ViewPeAsignacionpresupuestoLabel_valPendiente}"/>
                    <h:outputText value="#{peAsignacionpresupuestoController.selected.valPendiente}" title="#{parametro.ViewPeAsignacionpresupuestoTitle_valPendiente}"/>
                    <h:outputText value="#{parametro.ViewPeAsignacionpresupuestoLabel_usoActividad}"/>
                    <h:outputText value="#{peAsignacionpresupuestoController.selected.usoActividad}" title="#{parametro.ViewPeAsignacionpresupuestoTitle_usoActividad}"/>
                    <h:outputText value="#{parametro.ViewPeAsignacionpresupuestoLabel_tipActividad}"/>
                    <h:outputText value="#{peAsignacionpresupuestoController.selected.tipActividad}" title="#{parametro.ViewPeAsignacionpresupuestoTitle_tipActividad}"/>
                    <h:outputText value="#{parametro.ViewPeAsignacionpresupuestoLabel_horActivdad}"/>
                    <h:outputText value="#{peAsignacionpresupuestoController.selected.horActivdad}" title="#{parametro.ViewPeAsignacionpresupuestoTitle_horActivdad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{peAsignacionpresupuestoController.destroyAndView}" value="#{parametro.ViewPeAsignacionpresupuestoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewPeAsignacionpresupuestoEditLink}"/>
                <br />
                <h:commandLink action="#{peAsignacionpresupuestoController.prepareCreate}" value="#{parametro.ViewPeAsignacionpresupuestoCreateLink}" />
                <br />
                <h:commandLink action="#{peAsignacionpresupuestoController.prepareList}" value="#{parametro.ViewPeAsignacionpresupuestoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewPeAsignacionpresupuestoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
