<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.EditBiContratosempleadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.EditBiContratosempleadoLabel_codContrato}" for="codContrato" />
                    <h:inputText id="codContrato" value="#{biContratosempleadoController.selected.codContrato}" title="#{parametro.EditBiContratosempleadoTitle_codContrato}" required="true" requiredMessage="#{parametro.EditBiContratosempleadoRequiredMessage_codContrato}"/>
                    <h:outputLabel value="#{parametro.EditBiContratosempleadoLabel_tipContrato}" for="tipContrato" />
                    <h:inputText id="tipContrato" value="#{biContratosempleadoController.selected.tipContrato}" title="#{parametro.EditBiContratosempleadoTitle_tipContrato}" />
                    <h:outputLabel value="#{parametro.EditBiContratosempleadoLabel_fecInicio}" for="fecInicio" />
                    <h:inputText id="fecInicio" value="#{biContratosempleadoController.selected.fecInicio}" title="#{parametro.EditBiContratosempleadoTitle_fecInicio}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.EditBiContratosempleadoLabel_fecFin}" for="fecFin" />
                    <h:inputText id="fecFin" value="#{biContratosempleadoController.selected.fecFin}" title="#{parametro.EditBiContratosempleadoTitle_fecFin}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.EditBiContratosempleadoLabel_actUsuario}" for="actUsuario" />
                    <h:inputText id="actUsuario" value="#{biContratosempleadoController.selected.actUsuario}" title="#{parametro.EditBiContratosempleadoTitle_actUsuario}" />
                    <h:outputLabel value="#{parametro.EditBiContratosempleadoLabel_estActividad}" for="estActividad" />
                    <h:inputText id="estActividad" value="#{biContratosempleadoController.selected.estActividad}" title="#{parametro.EditBiContratosempleadoTitle_estActividad}" />
                    <h:outputLabel value="#{parametro.EditBiContratosempleadoLabel_horActividad}" for="horActividad" />
                    <h:inputText id="horActividad" value="#{biContratosempleadoController.selected.horActividad}" title="#{parametro.EditBiContratosempleadoTitle_horActividad}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.EditBiContratosempleadoLabel_codTercero}" for="codTercero" />
                    <h:selectOneMenu id="codTercero" value="#{biContratosempleadoController.selected.codTercero}" title="#{parametro.EditBiContratosempleadoTitle_codTercero}" >
                        <f:selectItems value="#{biTerceroController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{biContratosempleadoController.update}" value="#{parametro.EditBiContratosempleadoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{parametro.EditBiContratosempleadoViewLink}"/>
                <br />
                <h:commandLink action="#{biContratosempleadoController.prepareList}" value="#{parametro.EditBiContratosempleadoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.EditBiContratosempleadoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
