<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListBiContratosempleadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListBiContratosempleadoEmpty}" rendered="#{biContratosempleadoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{biContratosempleadoController.items.rowCount > 0}">
                    <h:outputText value="#{biContratosempleadoController.pagination.pageFirstItem + 1}..#{biContratosempleadoController.pagination.pageLastItem + 1}/#{biContratosempleadoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{biContratosempleadoController.previous}" value="#{parametro.Previous} #{biContratosempleadoController.pagination.pageSize}" rendered="#{biContratosempleadoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{biContratosempleadoController.next}" value="#{parametro.Next} #{biContratosempleadoController.pagination.pageSize}" rendered="#{biContratosempleadoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{biContratosempleadoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiContratosempleadoTitle_codContrato}"/>
                            </f:facet>
                            <h:outputText value="#{item.codContrato}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiContratosempleadoTitle_tipContrato}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipContrato}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiContratosempleadoTitle_fecInicio}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecInicio}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiContratosempleadoTitle_fecFin}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecFin}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiContratosempleadoTitle_actUsuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.actUsuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiContratosempleadoTitle_estActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.estActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiContratosempleadoTitle_horActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.horActividad}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiContratosempleadoTitle_codTercero}"/>
                            </f:facet>
                            <h:outputText value="#{item.codTercero}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{biContratosempleadoController.prepareView}" value="#{parametro.ListBiContratosempleadoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{biContratosempleadoController.prepareEdit}" value="#{parametro.ListBiContratosempleadoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{biContratosempleadoController.destroy}" value="#{parametro.ListBiContratosempleadoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{biContratosempleadoController.prepareCreate}" value="#{parametro.ListBiContratosempleadoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListBiContratosempleadoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
