<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewBiContratosempleadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewBiContratosempleadoLabel_codContrato}"/>
                    <h:outputText value="#{biContratosempleadoController.selected.codContrato}" title="#{parametro.ViewBiContratosempleadoTitle_codContrato}"/>
                    <h:outputText value="#{parametro.ViewBiContratosempleadoLabel_tipContrato}"/>
                    <h:outputText value="#{biContratosempleadoController.selected.tipContrato}" title="#{parametro.ViewBiContratosempleadoTitle_tipContrato}"/>
                    <h:outputText value="#{parametro.ViewBiContratosempleadoLabel_fecInicio}"/>
                    <h:outputText value="#{biContratosempleadoController.selected.fecInicio}" title="#{parametro.ViewBiContratosempleadoTitle_fecInicio}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{parametro.ViewBiContratosempleadoLabel_fecFin}"/>
                    <h:outputText value="#{biContratosempleadoController.selected.fecFin}" title="#{parametro.ViewBiContratosempleadoTitle_fecFin}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{parametro.ViewBiContratosempleadoLabel_actUsuario}"/>
                    <h:outputText value="#{biContratosempleadoController.selected.actUsuario}" title="#{parametro.ViewBiContratosempleadoTitle_actUsuario}"/>
                    <h:outputText value="#{parametro.ViewBiContratosempleadoLabel_estActividad}"/>
                    <h:outputText value="#{biContratosempleadoController.selected.estActividad}" title="#{parametro.ViewBiContratosempleadoTitle_estActividad}"/>
                    <h:outputText value="#{parametro.ViewBiContratosempleadoLabel_horActividad}"/>
                    <h:outputText value="#{biContratosempleadoController.selected.horActividad}" title="#{parametro.ViewBiContratosempleadoTitle_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{parametro.ViewBiContratosempleadoLabel_codTercero}"/>
                    <h:outputText value="#{biContratosempleadoController.selected.codTercero}" title="#{parametro.ViewBiContratosempleadoTitle_codTercero}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{biContratosempleadoController.destroyAndView}" value="#{parametro.ViewBiContratosempleadoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewBiContratosempleadoEditLink}"/>
                <br />
                <h:commandLink action="#{biContratosempleadoController.prepareCreate}" value="#{parametro.ViewBiContratosempleadoCreateLink}" />
                <br />
                <h:commandLink action="#{biContratosempleadoController.prepareList}" value="#{parametro.ViewBiContratosempleadoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewBiContratosempleadoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
