<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.CreateGnTipobeneficiarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.CreateGnTipobeneficiarioLabel_codTipoBeneficiarios}" for="codTipoBeneficiarios" />
                    <h:inputText id="codTipoBeneficiarios" value="#{gnTipobeneficiarioController.selected.codTipoBeneficiarios}" title="#{parametro.CreateGnTipobeneficiarioTitle_codTipoBeneficiarios}" required="true" requiredMessage="#{parametro.CreateGnTipobeneficiarioRequiredMessage_codTipoBeneficiarios}"/>
                    <h:outputLabel value="#{parametro.CreateGnTipobeneficiarioLabel_nomTipoBeneficiario}" for="nomTipoBeneficiario" />
                    <h:inputText id="nomTipoBeneficiario" value="#{gnTipobeneficiarioController.selected.nomTipoBeneficiario}" title="#{parametro.CreateGnTipobeneficiarioTitle_nomTipoBeneficiario}" />
                    <h:outputLabel value="#{parametro.CreateGnTipobeneficiarioLabel_cantidadBemeficiario}" for="cantidadBemeficiario" />
                    <h:inputText id="cantidadBemeficiario" value="#{gnTipobeneficiarioController.selected.cantidadBemeficiario}" title="#{parametro.CreateGnTipobeneficiarioTitle_cantidadBemeficiario}" />
                    <h:outputLabel value="#{parametro.CreateGnTipobeneficiarioLabel_usuActividad}" for="usuActividad" />
                    <h:inputText id="usuActividad" value="#{gnTipobeneficiarioController.selected.usuActividad}" title="#{parametro.CreateGnTipobeneficiarioTitle_usuActividad}" />
                    <h:outputLabel value="#{parametro.CreateGnTipobeneficiarioLabel_tipActividad}" for="tipActividad" />
                    <h:inputText id="tipActividad" value="#{gnTipobeneficiarioController.selected.tipActividad}" title="#{parametro.CreateGnTipobeneficiarioTitle_tipActividad}" />
                    <h:outputLabel value="#{parametro.CreateGnTipobeneficiarioLabel_horActividad}" for="horActividad" />
                    <h:inputText id="horActividad" value="#{gnTipobeneficiarioController.selected.horActividad}" title="#{parametro.CreateGnTipobeneficiarioTitle_horActividad}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gnTipobeneficiarioController.create}" value="#{parametro.CreateGnTipobeneficiarioSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{gnTipobeneficiarioController.prepareList}" value="#{parametro.CreateGnTipobeneficiarioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.CreateGnTipobeneficiarioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
