<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListGnTipobeneficiarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListGnTipobeneficiarioEmpty}" rendered="#{gnTipobeneficiarioController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{gnTipobeneficiarioController.items.rowCount > 0}">
                    <h:outputText value="#{gnTipobeneficiarioController.pagination.pageFirstItem + 1}..#{gnTipobeneficiarioController.pagination.pageLastItem + 1}/#{gnTipobeneficiarioController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{gnTipobeneficiarioController.previous}" value="#{parametro.Previous} #{gnTipobeneficiarioController.pagination.pageSize}" rendered="#{gnTipobeneficiarioController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{gnTipobeneficiarioController.next}" value="#{parametro.Next} #{gnTipobeneficiarioController.pagination.pageSize}" rendered="#{gnTipobeneficiarioController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{gnTipobeneficiarioController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnTipobeneficiarioTitle_codTipoBeneficiarios}"/>
                            </f:facet>
                            <h:outputText value="#{item.codTipoBeneficiarios}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnTipobeneficiarioTitle_nomTipoBeneficiario}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomTipoBeneficiario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnTipobeneficiarioTitle_cantidadBemeficiario}"/>
                            </f:facet>
                            <h:outputText value="#{item.cantidadBemeficiario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnTipobeneficiarioTitle_usuActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnTipobeneficiarioTitle_tipActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnTipobeneficiarioTitle_horActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.horActividad}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{gnTipobeneficiarioController.prepareView}" value="#{parametro.ListGnTipobeneficiarioViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnTipobeneficiarioController.prepareEdit}" value="#{parametro.ListGnTipobeneficiarioEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnTipobeneficiarioController.destroy}" value="#{parametro.ListGnTipobeneficiarioDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{gnTipobeneficiarioController.prepareCreate}" value="#{parametro.ListGnTipobeneficiarioCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListGnTipobeneficiarioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
