<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewGnTipobeneficiarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewGnTipobeneficiarioLabel_codTipoBeneficiarios}"/>
                    <h:outputText value="#{gnTipobeneficiarioController.selected.codTipoBeneficiarios}" title="#{parametro.ViewGnTipobeneficiarioTitle_codTipoBeneficiarios}"/>
                    <h:outputText value="#{parametro.ViewGnTipobeneficiarioLabel_nomTipoBeneficiario}"/>
                    <h:outputText value="#{gnTipobeneficiarioController.selected.nomTipoBeneficiario}" title="#{parametro.ViewGnTipobeneficiarioTitle_nomTipoBeneficiario}"/>
                    <h:outputText value="#{parametro.ViewGnTipobeneficiarioLabel_cantidadBemeficiario}"/>
                    <h:outputText value="#{gnTipobeneficiarioController.selected.cantidadBemeficiario}" title="#{parametro.ViewGnTipobeneficiarioTitle_cantidadBemeficiario}"/>
                    <h:outputText value="#{parametro.ViewGnTipobeneficiarioLabel_usuActividad}"/>
                    <h:outputText value="#{gnTipobeneficiarioController.selected.usuActividad}" title="#{parametro.ViewGnTipobeneficiarioTitle_usuActividad}"/>
                    <h:outputText value="#{parametro.ViewGnTipobeneficiarioLabel_tipActividad}"/>
                    <h:outputText value="#{gnTipobeneficiarioController.selected.tipActividad}" title="#{parametro.ViewGnTipobeneficiarioTitle_tipActividad}"/>
                    <h:outputText value="#{parametro.ViewGnTipobeneficiarioLabel_horActividad}"/>
                    <h:outputText value="#{gnTipobeneficiarioController.selected.horActividad}" title="#{parametro.ViewGnTipobeneficiarioTitle_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gnTipobeneficiarioController.destroyAndView}" value="#{parametro.ViewGnTipobeneficiarioDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewGnTipobeneficiarioEditLink}"/>
                <br />
                <h:commandLink action="#{gnTipobeneficiarioController.prepareCreate}" value="#{parametro.ViewGnTipobeneficiarioCreateLink}" />
                <br />
                <h:commandLink action="#{gnTipobeneficiarioController.prepareList}" value="#{parametro.ViewGnTipobeneficiarioShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewGnTipobeneficiarioIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
