#page-error-404{
	background-image: url(../img/error-404.jpg);
	
	/*centrar, fijar y tamaño 100% en imagen de fondo*/
	background-position: center;
	background-attachment: fixed;
	background-size: 100%;
	width: 1000px;
}
#page-error-500{
	background-image: url(../img/error-500.png);
	
	/*centrar, fijar y tamaño 100% en imagen de fondo*/
	background-position: center;
	background-attachment: fixed;
	background-size: 100%;
	width: 1000px;
}