<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.CreatePeDetallepresupuestoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.CreatePeDetallepresupuestoLabel_codDetallePresupuesto}" for="codDetallePresupuesto" />
                    <h:inputText id="codDetallePresupuesto" value="#{peDetallepresupuestoController.selected.codDetallePresupuesto}" title="#{parametro.CreatePeDetallepresupuestoTitle_codDetallePresupuesto}" required="true" requiredMessage="#{parametro.CreatePeDetallepresupuestoRequiredMessage_codDetallePresupuesto}"/>
                    <h:outputLabel value="#{parametro.CreatePeDetallepresupuestoLabel_codPresupuesto}" for="codPresupuesto" />
                    <h:inputText id="codPresupuesto" value="#{peDetallepresupuestoController.selected.codPresupuesto}" title="#{parametro.CreatePeDetallepresupuestoTitle_codPresupuesto}" />
                    <h:outputLabel value="#{parametro.CreatePeDetallepresupuestoLabel_codSolicitud}" for="codSolicitud" />
                    <h:selectOneMenu id="codSolicitud" value="#{peDetallepresupuestoController.selected.codSolicitud}" title="#{parametro.CreatePeDetallepresupuestoTitle_codSolicitud}" >
                        <f:selectItems value="#{beSolicitudController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{peDetallepresupuestoController.create}" value="#{parametro.CreatePeDetallepresupuestoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{peDetallepresupuestoController.prepareList}" value="#{parametro.CreatePeDetallepresupuestoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.CreatePeDetallepresupuestoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
