<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListPeDetallepresupuestoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListPeDetallepresupuestoEmpty}" rendered="#{peDetallepresupuestoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{peDetallepresupuestoController.items.rowCount > 0}">
                    <h:outputText value="#{peDetallepresupuestoController.pagination.pageFirstItem + 1}..#{peDetallepresupuestoController.pagination.pageLastItem + 1}/#{peDetallepresupuestoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{peDetallepresupuestoController.previous}" value="#{parametro.Previous} #{peDetallepresupuestoController.pagination.pageSize}" rendered="#{peDetallepresupuestoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{peDetallepresupuestoController.next}" value="#{parametro.Next} #{peDetallepresupuestoController.pagination.pageSize}" rendered="#{peDetallepresupuestoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{peDetallepresupuestoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListPeDetallepresupuestoTitle_codDetallePresupuesto}"/>
                            </f:facet>
                            <h:outputText value="#{item.codDetallePresupuesto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListPeDetallepresupuestoTitle_codPresupuesto}"/>
                            </f:facet>
                            <h:outputText value="#{item.codPresupuesto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListPeDetallepresupuestoTitle_codSolicitud}"/>
                            </f:facet>
                            <h:outputText value="#{item.codSolicitud}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{peDetallepresupuestoController.prepareView}" value="#{parametro.ListPeDetallepresupuestoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{peDetallepresupuestoController.prepareEdit}" value="#{parametro.ListPeDetallepresupuestoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{peDetallepresupuestoController.destroy}" value="#{parametro.ListPeDetallepresupuestoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{peDetallepresupuestoController.prepareCreate}" value="#{parametro.ListPeDetallepresupuestoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListPeDetallepresupuestoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
