<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewPeDetallepresupuestoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewPeDetallepresupuestoLabel_codDetallePresupuesto}"/>
                    <h:outputText value="#{peDetallepresupuestoController.selected.codDetallePresupuesto}" title="#{parametro.ViewPeDetallepresupuestoTitle_codDetallePresupuesto}"/>
                    <h:outputText value="#{parametro.ViewPeDetallepresupuestoLabel_codPresupuesto}"/>
                    <h:outputText value="#{peDetallepresupuestoController.selected.codPresupuesto}" title="#{parametro.ViewPeDetallepresupuestoTitle_codPresupuesto}"/>
                    <h:outputText value="#{parametro.ViewPeDetallepresupuestoLabel_codSolicitud}"/>
                    <h:outputText value="#{peDetallepresupuestoController.selected.codSolicitud}" title="#{parametro.ViewPeDetallepresupuestoTitle_codSolicitud}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{peDetallepresupuestoController.destroyAndView}" value="#{parametro.ViewPeDetallepresupuestoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewPeDetallepresupuestoEditLink}"/>
                <br />
                <h:commandLink action="#{peDetallepresupuestoController.prepareCreate}" value="#{parametro.ViewPeDetallepresupuestoCreateLink}" />
                <br />
                <h:commandLink action="#{peDetallepresupuestoController.prepareList}" value="#{parametro.ViewPeDetallepresupuestoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewPeDetallepresupuestoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
