<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.CreateBiContratoproveedorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.CreateBiContratoproveedorLabel_codContrato}" for="codContrato" />
                    <h:inputText id="codContrato" value="#{biContratoproveedorController.selected.codContrato}" title="#{parametro.CreateBiContratoproveedorTitle_codContrato}" required="true" requiredMessage="#{parametro.CreateBiContratoproveedorRequiredMessage_codContrato}"/>
                    <h:outputLabel value="#{parametro.CreateBiContratoproveedorLabel_numContrato}" for="numContrato" />
                    <h:inputText id="numContrato" value="#{biContratoproveedorController.selected.numContrato}" title="#{parametro.CreateBiContratoproveedorTitle_numContrato}" />
                    <h:outputLabel value="#{parametro.CreateBiContratoproveedorLabel_actUsuario}" for="actUsuario" />
                    <h:inputText id="actUsuario" value="#{biContratoproveedorController.selected.actUsuario}" title="#{parametro.CreateBiContratoproveedorTitle_actUsuario}" />
                    <h:outputLabel value="#{parametro.CreateBiContratoproveedorLabel_estActividad}" for="estActividad" />
                    <h:inputText id="estActividad" value="#{biContratoproveedorController.selected.estActividad}" title="#{parametro.CreateBiContratoproveedorTitle_estActividad}" />
                    <h:outputLabel value="#{parametro.CreateBiContratoproveedorLabel_horActividad}" for="horActividad" />
                    <h:inputText id="horActividad" value="#{biContratoproveedorController.selected.horActividad}" title="#{parametro.CreateBiContratoproveedorTitle_horActividad}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.CreateBiContratoproveedorLabel_codProveedor}" for="codProveedor" />
                    <h:selectOneMenu id="codProveedor" value="#{biContratoproveedorController.selected.codProveedor}" title="#{parametro.CreateBiContratoproveedorTitle_codProveedor}" >
                        <f:selectItems value="#{biTerceroController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{biContratoproveedorController.create}" value="#{parametro.CreateBiContratoproveedorSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{biContratoproveedorController.prepareList}" value="#{parametro.CreateBiContratoproveedorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.CreateBiContratoproveedorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
