<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListBiContratoproveedorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListBiContratoproveedorEmpty}" rendered="#{biContratoproveedorController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{biContratoproveedorController.items.rowCount > 0}">
                    <h:outputText value="#{biContratoproveedorController.pagination.pageFirstItem + 1}..#{biContratoproveedorController.pagination.pageLastItem + 1}/#{biContratoproveedorController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{biContratoproveedorController.previous}" value="#{parametro.Previous} #{biContratoproveedorController.pagination.pageSize}" rendered="#{biContratoproveedorController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{biContratoproveedorController.next}" value="#{parametro.Next} #{biContratoproveedorController.pagination.pageSize}" rendered="#{biContratoproveedorController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{biContratoproveedorController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiContratoproveedorTitle_codContrato}"/>
                            </f:facet>
                            <h:outputText value="#{item.codContrato}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiContratoproveedorTitle_numContrato}"/>
                            </f:facet>
                            <h:outputText value="#{item.numContrato}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiContratoproveedorTitle_actUsuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.actUsuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiContratoproveedorTitle_estActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.estActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiContratoproveedorTitle_horActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.horActividad}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiContratoproveedorTitle_codProveedor}"/>
                            </f:facet>
                            <h:outputText value="#{item.codProveedor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{biContratoproveedorController.prepareView}" value="#{parametro.ListBiContratoproveedorViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{biContratoproveedorController.prepareEdit}" value="#{parametro.ListBiContratoproveedorEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{biContratoproveedorController.destroy}" value="#{parametro.ListBiContratoproveedorDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{biContratoproveedorController.prepareCreate}" value="#{parametro.ListBiContratoproveedorCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListBiContratoproveedorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
