<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewBiContratoproveedorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewBiContratoproveedorLabel_codContrato}"/>
                    <h:outputText value="#{biContratoproveedorController.selected.codContrato}" title="#{parametro.ViewBiContratoproveedorTitle_codContrato}"/>
                    <h:outputText value="#{parametro.ViewBiContratoproveedorLabel_numContrato}"/>
                    <h:outputText value="#{biContratoproveedorController.selected.numContrato}" title="#{parametro.ViewBiContratoproveedorTitle_numContrato}"/>
                    <h:outputText value="#{parametro.ViewBiContratoproveedorLabel_actUsuario}"/>
                    <h:outputText value="#{biContratoproveedorController.selected.actUsuario}" title="#{parametro.ViewBiContratoproveedorTitle_actUsuario}"/>
                    <h:outputText value="#{parametro.ViewBiContratoproveedorLabel_estActividad}"/>
                    <h:outputText value="#{biContratoproveedorController.selected.estActividad}" title="#{parametro.ViewBiContratoproveedorTitle_estActividad}"/>
                    <h:outputText value="#{parametro.ViewBiContratoproveedorLabel_horActividad}"/>
                    <h:outputText value="#{biContratoproveedorController.selected.horActividad}" title="#{parametro.ViewBiContratoproveedorTitle_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{parametro.ViewBiContratoproveedorLabel_codProveedor}"/>
                    <h:outputText value="#{biContratoproveedorController.selected.codProveedor}" title="#{parametro.ViewBiContratoproveedorTitle_codProveedor}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{biContratoproveedorController.destroyAndView}" value="#{parametro.ViewBiContratoproveedorDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewBiContratoproveedorEditLink}"/>
                <br />
                <h:commandLink action="#{biContratoproveedorController.prepareCreate}" value="#{parametro.ViewBiContratoproveedorCreateLink}" />
                <br />
                <h:commandLink action="#{biContratoproveedorController.prepareList}" value="#{parametro.ViewBiContratoproveedorShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewBiContratoproveedorIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
