<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.CreateGnDocadjuntoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.CreateGnDocadjuntoLabel_codDocumento}" for="codDocumento" />
                    <h:inputText id="codDocumento" value="#{gnDocadjuntoController.selected.codDocumento}" title="#{parametro.CreateGnDocadjuntoTitle_codDocumento}" required="true" requiredMessage="#{parametro.CreateGnDocadjuntoRequiredMessage_codDocumento}"/>
                    <h:outputLabel value="#{parametro.CreateGnDocadjuntoLabel_rutArchivo}" for="rutArchivo" />
                    <h:inputText id="rutArchivo" value="#{gnDocadjuntoController.selected.rutArchivo}" title="#{parametro.CreateGnDocadjuntoTitle_rutArchivo}" required="true" requiredMessage="#{parametro.CreateGnDocadjuntoRequiredMessage_rutArchivo}"/>
                    <h:outputLabel value="#{parametro.CreateGnDocadjuntoLabel_usuActividad}" for="usuActividad" />
                    <h:inputText id="usuActividad" value="#{gnDocadjuntoController.selected.usuActividad}" title="#{parametro.CreateGnDocadjuntoTitle_usuActividad}" required="true" requiredMessage="#{parametro.CreateGnDocadjuntoRequiredMessage_usuActividad}"/>
                    <h:outputLabel value="#{parametro.CreateGnDocadjuntoLabel_tipActividad}" for="tipActividad" />
                    <h:inputText id="tipActividad" value="#{gnDocadjuntoController.selected.tipActividad}" title="#{parametro.CreateGnDocadjuntoTitle_tipActividad}" required="true" requiredMessage="#{parametro.CreateGnDocadjuntoRequiredMessage_tipActividad}"/>
                    <h:outputLabel value="#{parametro.CreateGnDocadjuntoLabel_horActividad}" for="horActividad" />
                    <h:inputText id="horActividad" value="#{gnDocadjuntoController.selected.horActividad}" title="#{parametro.CreateGnDocadjuntoTitle_horActividad}" required="true" requiredMessage="#{parametro.CreateGnDocadjuntoRequiredMessage_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.CreateGnDocadjuntoLabel_tipDocumento}" for="tipDocumento" />
                    <h:selectOneMenu id="tipDocumento" value="#{gnDocadjuntoController.selected.tipDocumento}" title="#{parametro.CreateGnDocadjuntoTitle_tipDocumento}" required="true" requiredMessage="#{parametro.CreateGnDocadjuntoRequiredMessage_tipDocumento}">
                        <f:selectItems value="#{gnTipodocumentoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gnDocadjuntoController.create}" value="#{parametro.CreateGnDocadjuntoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{gnDocadjuntoController.prepareList}" value="#{parametro.CreateGnDocadjuntoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.CreateGnDocadjuntoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
