<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.EditGnDocadjuntoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.EditGnDocadjuntoLabel_codDocumento}" for="codDocumento" />
                    <h:inputText id="codDocumento" value="#{gnDocadjuntoController.selected.codDocumento}" title="#{parametro.EditGnDocadjuntoTitle_codDocumento}" required="true" requiredMessage="#{parametro.EditGnDocadjuntoRequiredMessage_codDocumento}"/>
                    <h:outputLabel value="#{parametro.EditGnDocadjuntoLabel_rutArchivo}" for="rutArchivo" />
                    <h:inputText id="rutArchivo" value="#{gnDocadjuntoController.selected.rutArchivo}" title="#{parametro.EditGnDocadjuntoTitle_rutArchivo}" required="true" requiredMessage="#{parametro.EditGnDocadjuntoRequiredMessage_rutArchivo}"/>
                    <h:outputLabel value="#{parametro.EditGnDocadjuntoLabel_usuActividad}" for="usuActividad" />
                    <h:inputText id="usuActividad" value="#{gnDocadjuntoController.selected.usuActividad}" title="#{parametro.EditGnDocadjuntoTitle_usuActividad}" required="true" requiredMessage="#{parametro.EditGnDocadjuntoRequiredMessage_usuActividad}"/>
                    <h:outputLabel value="#{parametro.EditGnDocadjuntoLabel_tipActividad}" for="tipActividad" />
                    <h:inputText id="tipActividad" value="#{gnDocadjuntoController.selected.tipActividad}" title="#{parametro.EditGnDocadjuntoTitle_tipActividad}" required="true" requiredMessage="#{parametro.EditGnDocadjuntoRequiredMessage_tipActividad}"/>
                    <h:outputLabel value="#{parametro.EditGnDocadjuntoLabel_horActividad}" for="horActividad" />
                    <h:inputText id="horActividad" value="#{gnDocadjuntoController.selected.horActividad}" title="#{parametro.EditGnDocadjuntoTitle_horActividad}" required="true" requiredMessage="#{parametro.EditGnDocadjuntoRequiredMessage_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.EditGnDocadjuntoLabel_tipDocumento}" for="tipDocumento" />
                    <h:selectOneMenu id="tipDocumento" value="#{gnDocadjuntoController.selected.tipDocumento}" title="#{parametro.EditGnDocadjuntoTitle_tipDocumento}" required="true" requiredMessage="#{parametro.EditGnDocadjuntoRequiredMessage_tipDocumento}">
                        <f:selectItems value="#{gnTipodocumentoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{gnDocadjuntoController.update}" value="#{parametro.EditGnDocadjuntoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{parametro.EditGnDocadjuntoViewLink}"/>
                <br />
                <h:commandLink action="#{gnDocadjuntoController.prepareList}" value="#{parametro.EditGnDocadjuntoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.EditGnDocadjuntoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
