<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListGnDocadjuntoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListGnDocadjuntoEmpty}" rendered="#{gnDocadjuntoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{gnDocadjuntoController.items.rowCount > 0}">
                    <h:outputText value="#{gnDocadjuntoController.pagination.pageFirstItem + 1}..#{gnDocadjuntoController.pagination.pageLastItem + 1}/#{gnDocadjuntoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{gnDocadjuntoController.previous}" value="#{parametro.Previous} #{gnDocadjuntoController.pagination.pageSize}" rendered="#{gnDocadjuntoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{gnDocadjuntoController.next}" value="#{parametro.Next} #{gnDocadjuntoController.pagination.pageSize}" rendered="#{gnDocadjuntoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{gnDocadjuntoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnDocadjuntoTitle_codDocumento}"/>
                            </f:facet>
                            <h:outputText value="#{item.codDocumento}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnDocadjuntoTitle_rutArchivo}"/>
                            </f:facet>
                            <h:outputText value="#{item.rutArchivo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnDocadjuntoTitle_usuActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnDocadjuntoTitle_tipActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnDocadjuntoTitle_horActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.horActividad}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnDocadjuntoTitle_tipDocumento}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipDocumento}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{gnDocadjuntoController.prepareView}" value="#{parametro.ListGnDocadjuntoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnDocadjuntoController.prepareEdit}" value="#{parametro.ListGnDocadjuntoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnDocadjuntoController.destroy}" value="#{parametro.ListGnDocadjuntoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{gnDocadjuntoController.prepareCreate}" value="#{parametro.ListGnDocadjuntoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListGnDocadjuntoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
