<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewGnDocadjuntoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewGnDocadjuntoLabel_codDocumento}"/>
                    <h:outputText value="#{gnDocadjuntoController.selected.codDocumento}" title="#{parametro.ViewGnDocadjuntoTitle_codDocumento}"/>
                    <h:outputText value="#{parametro.ViewGnDocadjuntoLabel_rutArchivo}"/>
                    <h:outputText value="#{gnDocadjuntoController.selected.rutArchivo}" title="#{parametro.ViewGnDocadjuntoTitle_rutArchivo}"/>
                    <h:outputText value="#{parametro.ViewGnDocadjuntoLabel_usuActividad}"/>
                    <h:outputText value="#{gnDocadjuntoController.selected.usuActividad}" title="#{parametro.ViewGnDocadjuntoTitle_usuActividad}"/>
                    <h:outputText value="#{parametro.ViewGnDocadjuntoLabel_tipActividad}"/>
                    <h:outputText value="#{gnDocadjuntoController.selected.tipActividad}" title="#{parametro.ViewGnDocadjuntoTitle_tipActividad}"/>
                    <h:outputText value="#{parametro.ViewGnDocadjuntoLabel_horActividad}"/>
                    <h:outputText value="#{gnDocadjuntoController.selected.horActividad}" title="#{parametro.ViewGnDocadjuntoTitle_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{parametro.ViewGnDocadjuntoLabel_tipDocumento}"/>
                    <h:outputText value="#{gnDocadjuntoController.selected.tipDocumento}" title="#{parametro.ViewGnDocadjuntoTitle_tipDocumento}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gnDocadjuntoController.destroyAndView}" value="#{parametro.ViewGnDocadjuntoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewGnDocadjuntoEditLink}"/>
                <br />
                <h:commandLink action="#{gnDocadjuntoController.prepareCreate}" value="#{parametro.ViewGnDocadjuntoCreateLink}" />
                <br />
                <h:commandLink action="#{gnDocadjuntoController.prepareList}" value="#{parametro.ViewGnDocadjuntoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewGnDocadjuntoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
