<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.EditBeTipobeneficioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.EditBeTipobeneficioLabel_codTipoBeneficio}" for="codTipoBeneficio" />
                    <h:inputText id="codTipoBeneficio" value="#{beTipobeneficioController.selected.codTipoBeneficio}" title="#{parametro.EditBeTipobeneficioTitle_codTipoBeneficio}" required="true" requiredMessage="#{parametro.EditBeTipobeneficioRequiredMessage_codTipoBeneficio}"/>
                    <h:outputLabel value="#{parametro.EditBeTipobeneficioLabel_nombreBeneficio}" for="nombreBeneficio" />
                    <h:inputText id="nombreBeneficio" value="#{beTipobeneficioController.selected.nombreBeneficio}" title="#{parametro.EditBeTipobeneficioTitle_nombreBeneficio}" />
                    <h:outputLabel value="#{parametro.EditBeTipobeneficioLabel_prescripcion}" for="prescripcion" />
                    <h:inputText id="prescripcion" value="#{beTipobeneficioController.selected.prescripcion}" title="#{parametro.EditBeTipobeneficioTitle_prescripcion}" />
                    <h:outputLabel value="#{parametro.EditBeTipobeneficioLabel_factura}" for="factura" />
                    <h:inputText id="factura" value="#{beTipobeneficioController.selected.factura}" title="#{parametro.EditBeTipobeneficioTitle_factura}" />
                    <h:outputLabel value="#{parametro.EditBeTipobeneficioLabel_presupuesto}" for="presupuesto" />
                    <h:inputText id="presupuesto" value="#{beTipobeneficioController.selected.presupuesto}" title="#{parametro.EditBeTipobeneficioTitle_presupuesto}" />
                    <h:outputLabel value="#{parametro.EditBeTipobeneficioLabel_usuActividad}" for="usuActividad" />
                    <h:inputText id="usuActividad" value="#{beTipobeneficioController.selected.usuActividad}" title="#{parametro.EditBeTipobeneficioTitle_usuActividad}" />
                    <h:outputLabel value="#{parametro.EditBeTipobeneficioLabel_estActividad}" for="estActividad" />
                    <h:inputText id="estActividad" value="#{beTipobeneficioController.selected.estActividad}" title="#{parametro.EditBeTipobeneficioTitle_estActividad}" />
                    <h:outputLabel value="#{parametro.EditBeTipobeneficioLabel_horActividad}" for="horActividad" />
                    <h:inputText id="horActividad" value="#{beTipobeneficioController.selected.horActividad}" title="#{parametro.EditBeTipobeneficioTitle_horActividad}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                </h:panelGrid>
                <h:commandLink action="#{beTipobeneficioController.update}" value="#{parametro.EditBeTipobeneficioSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{parametro.EditBeTipobeneficioViewLink}"/>
                <br />
                <h:commandLink action="#{beTipobeneficioController.prepareList}" value="#{parametro.EditBeTipobeneficioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.EditBeTipobeneficioIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
