<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <ui:include src="/WEB-INF/template/head.xhtml"/>   
    </h:head>

    <ui:composition template="/template.xhtml">
        <ui:define name="title" class="header">
            <h:outputText value="#{parametro.ListBeTipobeneficioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body"  class="body">
            <!-- Exportable Table -->
            <div class="row clearfix">
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card"> 
                        <div class="body">
                            <table var="item" class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>
                                        <th>#{parametro.ListBeTipobeneficioTitle_codTipoBeneficio}</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th>Salary</th>
                                    </tr>
                                </thead>
                               
                                <tbody>
                                    <tr>
                                        <td>#{item.codTipoBeneficio}</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011/04/25</td>
                                        <td>$320,800</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Exportable Table -->


            <!-- Jquery Core Js -->
            <script src="#{request.contextPath}/resources/js/jquery.js" ></script>

            <!--Bootstrap Core Js--> 
            <script src="#{request.contextPath}/resources/js/bootstrap.js" ></script>

            <!--Select Plugin Js--> 
            <script src="#{request.contextPath}/resources/js/bootstrap-select.js" ></script>

            <!--Slimscroll Plugin Js--> 
            <script src="#{request.contextPath}/resources/js/jquery.slimscroll.js" ></script>

            <!--Waves Effect Plugin Js--> 
            <script src="#{request.contextPath}/resources/js/waves.js" ></script>

            <!--Jquery DataTable Plugin Js--> 
            <script src="#{request.contextPath}/resources/js/jquery-datatable/dataTables.js" ></script>
            <script src="#{request.contextPath}/resources/js/jquery-datatable/skin/bootstrap/js/bootstrap.js"></script>
            <script src="#{request.contextPath}/resources/js/jquery-datatable/extensions/export/buttons.js"></script>
            <script src="#{request.contextPath}/resources/js/jquery-datatable/extensions/export/buttons-flash-min.js"></script>
            <script src="#{request.contextPath}/resources/js/jquery-datatable/extensions/export/jszip-min.js"></script>
            <script src="#{request.contextPath}/resources/js/jquery-datatable/extensions/export/pdfmake-min.js"></script>
            <script src="#{request.contextPath}/resources/js/jquery-datatable/extensions/export/vfs-fonts.js"></script>
            <script src="#{request.contextPath}/resources/js/jquery-datatable/extensions/export/buttons-html5-min.js"></script>
            <script src="#{request.contextPath}/resources/js/jquery-datatable/extensions/export/buttons-print-min.js"></script>

            <!--Custom Js--> 
            <script src="#{request.contextPath}/resources/js/admin.js" ></script>
            <script src="#{request.contextPath}/resources/js/jquery-datatable/jquery-datatable.js" ></script>

            <!--Demo Js--> 
            <script src="#{request.contextPath}/resources/js/demo.js"></script>
        </ui:define>
    </ui:composition>



</html>

