<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <ui:composition template="/template.xhtml">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <ui:define name="title" class="header">
                        <h:outputText value="#{parametro.ListBeTipobeneficioTitle}"></h:outputText>
                    </ui:define>
                    <ui:define name="body"  class="body">
                        <h:form class="form-control">
                            <h:panelGroup id="messagePanel" layout="block">
                                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                            </h:panelGroup>
                            <h:outputText escape="false" value="#{parametro.ListBeTipobeneficioEmpty}" rendered="#{beTipobeneficioController.items.rowCount == 0}"/>
                            <h:panelGroup rendered="#{beTipobeneficioController.items.rowCount > 0}">
                                <h:outputText value="#{beTipobeneficioController.pagination.pageFirstItem + 1}..#{beTipobeneficioController.pagination.pageLastItem + 1}/#{beTipobeneficioController.pagination.itemsCount}"/>&nbsp;
                                <h:commandLink action="#{beTipobeneficioController.previous}" value="#{parametro.Previous} #{beTipobeneficioController.pagination.pageSize}" rendered="#{beTipobeneficioController.pagination.hasPreviousPage}"/>&nbsp;
                                <h:commandLink action="#{beTipobeneficioController.next}" value="#{parametro.Next} #{beTipobeneficioController.pagination.pageSize}" rendered="#{beTipobeneficioController.pagination.hasNextPage}"/>&nbsp;
                                <button type="button" class="btn bg-deep-purple btn-circle-lg waves-effect waves-circle waves-float">
                                    <i class="material-icons">settings</i>
                                </button>
                                <div style="text-align: center;">
                                <h:commandLink class="btn bg-deep-purple btn-circle waves-effect waves-circle waves-float " 
                                                 action="#{beTipobeneficioController.prepareCreate}">
                                    <span class=" material-icons"  >note_add</span>
                                </h:commandLink>
                                </div>
                                <h:dataTable value="#{beTipobeneficioController.items}" var="item" class="table table-bordered table-striped table-hover dataTable js-exportable" >
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{parametro.ListBeTipobeneficioTitle_codTipoBeneficio}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.codTipoBeneficio}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{parametro.ListBeTipobeneficioTitle_nombreBeneficio}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.nombreBeneficio}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{parametro.ListBeTipobeneficioTitle_prescripcion}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.prescripcion}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{parametro.ListBeTipobeneficioTitle_factura}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.factura}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{parametro.ListBeTipobeneficioTitle_presupuesto}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.presupuesto}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{parametro.ListBeTipobeneficioTitle_usuActividad}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.usuActividad}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{parametro.ListBeTipobeneficioTitle_estActividad}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.estActividad}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{parametro.ListBeTipobeneficioTitle_horActividad}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.horActividad}">
                                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                        </h:outputText>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="&nbsp;"/>
                                        </f:facet>
                                        <h:commandLink action="#{beTipobeneficioController.prepareView}" value="#{parametro.ListBeTipobeneficioViewLink}"/>
                                        <h:outputText value=" "/>
                                        <h:commandLink action="#{beTipobeneficioController.prepareEdit}" value="#{parametro.ListBeTipobeneficioEditLink}"/>
                                        <h:outputText value=" "/>
                                        <h:commandLink action="#{beTipobeneficioController.destroy}" value="#{parametro.ListBeTipobeneficioDestroyLink}"/>
                                    </h:column>
                                </h:dataTable>
                            </h:panelGroup>
                            <br />
                            <br />
                            <br />
                            <h:link outcome="/index" value="#{parametro.ListBeTipobeneficioIndexLink}"/>
                        </h:form>
                    </ui:define>
                </div>
            </div>
        </div>
        <script src="#{request.contextPath}/resources/js/jquery.js" ></script>

        <!--Bootstrap Core Js--> 
        <script src="#{request.contextPath}/resources/js/bootstrap.js" ></script>

        <!--Select Plugin Js--> 
        <script src="#{request.contextPath}/resources/js/bootstrap-select.js" ></script>

        <!--Slimscroll Plugin Js--> 
        <script src="#{request.contextPath}/resources/js/jquery.slimscroll.js" ></script>

        <!--Waves Effect Plugin Js--> 
        <script src="#{request.contextPath}/resources/js/waves.js" ></script>

        <!--Jquery DataTable Plugin Js--> 
        <script src="#{request.contextPath}/resources/js/jquery-datatable/dataTables.js" ></script>
        <script src="#{request.contextPath}/resources/js/jquery-datatable/skin/bootstrap/js/bootstrap.js"></script>
        <script src="#{request.contextPath}/resources/js/jquery-datatable/extensions/export/buttons.js"></script>
        <script src="#{request.contextPath}/resources/js/jquery-datatable/extensions/export/buttons-flash-min.js"></script>
        <script src="#{request.contextPath}/resources/js/jquery-datatable/extensions/export/jszip-min.js"></script>
        <script src="#{request.contextPath}/resources/js/jquery-datatable/extensions/export/pdfmake-min.js"></script>
        <script src="#{request.contextPath}/resources/js/jquery-datatable/extensions/export/vfs-fonts.js"></script>
        <script src="#{request.contextPath}/resources/js/jquery-datatable/extensions/export/buttons-html5-min.js"></script>
        <script src="#{request.contextPath}/resources/js/jquery-datatable/extensions/export/buttons-print-min.js"></script>

        <!--Custom Js--> 
        <script src="#{request.contextPath}/resources/js/admin.js" ></script>
        <script src="#{request.contextPath}/resources/js/jquery-datatable/jquery-datatable.js" ></script>

        <!--Demo Js--> 
        <script src="#{request.contextPath}/resources/js/demo.js"></script>
    </ui:composition>

    <ui:include src="/WEB-INF/template/scripts.xhtml"/>

</html>
