<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewBeTipobeneficioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewBeTipobeneficioLabel_codTipoBeneficio}"/>
                    <h:outputText value="#{beTipobeneficioController.selected.codTipoBeneficio}" title="#{parametro.ViewBeTipobeneficioTitle_codTipoBeneficio}"/>
                    <h:outputText value="#{parametro.ViewBeTipobeneficioLabel_nombreBeneficio}"/>
                    <h:outputText value="#{beTipobeneficioController.selected.nombreBeneficio}" title="#{parametro.ViewBeTipobeneficioTitle_nombreBeneficio}"/>
                    <h:outputText value="#{parametro.ViewBeTipobeneficioLabel_prescripcion}"/>
                    <h:outputText value="#{beTipobeneficioController.selected.prescripcion}" title="#{parametro.ViewBeTipobeneficioTitle_prescripcion}"/>
                    <h:outputText value="#{parametro.ViewBeTipobeneficioLabel_factura}"/>
                    <h:outputText value="#{beTipobeneficioController.selected.factura}" title="#{parametro.ViewBeTipobeneficioTitle_factura}"/>
                    <h:outputText value="#{parametro.ViewBeTipobeneficioLabel_presupuesto}"/>
                    <h:outputText value="#{beTipobeneficioController.selected.presupuesto}" title="#{parametro.ViewBeTipobeneficioTitle_presupuesto}"/>
                    <h:outputText value="#{parametro.ViewBeTipobeneficioLabel_usuActividad}"/>
                    <h:outputText value="#{beTipobeneficioController.selected.usuActividad}" title="#{parametro.ViewBeTipobeneficioTitle_usuActividad}"/>
                    <h:outputText value="#{parametro.ViewBeTipobeneficioLabel_estActividad}"/>
                    <h:outputText value="#{beTipobeneficioController.selected.estActividad}" title="#{parametro.ViewBeTipobeneficioTitle_estActividad}"/>
                    <h:outputText value="#{parametro.ViewBeTipobeneficioLabel_horActividad}"/>
                    <h:outputText value="#{beTipobeneficioController.selected.horActividad}" title="#{parametro.ViewBeTipobeneficioTitle_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{beTipobeneficioController.destroyAndView}" value="#{parametro.ViewBeTipobeneficioDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewBeTipobeneficioEditLink}"/>
                <br />
                <h:commandLink action="#{beTipobeneficioController.prepareCreate}" value="#{parametro.ViewBeTipobeneficioCreateLink}" />
                <br />
                <h:commandLink action="#{beTipobeneficioController.prepareList}" value="#{parametro.ViewBeTipobeneficioShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewBeTipobeneficioIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
