<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.CreateBeSolicitudTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.CreateBeSolicitudLabel_codSolicitud}" for="codSolicitud" />
                    <h:inputText id="codSolicitud" value="#{beSolicitudController.selected.codSolicitud}" title="#{parametro.CreateBeSolicitudTitle_codSolicitud}" required="true" requiredMessage="#{parametro.CreateBeSolicitudRequiredMessage_codSolicitud}"/>
                    <h:outputLabel value="#{parametro.CreateBeSolicitudLabel_estSolicitud}" for="estSolicitud" />
                    <h:inputText id="estSolicitud" value="#{beSolicitudController.selected.estSolicitud}" title="#{parametro.CreateBeSolicitudTitle_estSolicitud}" required="true" requiredMessage="#{parametro.CreateBeSolicitudRequiredMessage_estSolicitud}"/>
                    <h:outputLabel value="#{parametro.CreateBeSolicitudLabel_fecSolicitud}" for="fecSolicitud" />
                    <h:inputText id="fecSolicitud" value="#{beSolicitudController.selected.fecSolicitud}" title="#{parametro.CreateBeSolicitudTitle_fecSolicitud}" required="true" requiredMessage="#{parametro.CreateBeSolicitudRequiredMessage_fecSolicitud}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.CreateBeSolicitudLabel_observaciones}" for="observaciones" />
                    <h:inputText id="observaciones" value="#{beSolicitudController.selected.observaciones}" title="#{parametro.CreateBeSolicitudTitle_observaciones}" required="true" requiredMessage="#{parametro.CreateBeSolicitudRequiredMessage_observaciones}"/>
                    <h:outputLabel value="#{parametro.CreateBeSolicitudLabel_valorEmpresa}" for="valorEmpresa" />
                    <h:inputText id="valorEmpresa" value="#{beSolicitudController.selected.valorEmpresa}" title="#{parametro.CreateBeSolicitudTitle_valorEmpresa}" />
                    <h:outputLabel value="#{parametro.CreateBeSolicitudLabel_numfactura}" for="numfactura" />
                    <h:inputText id="numfactura" value="#{beSolicitudController.selected.numfactura}" title="#{parametro.CreateBeSolicitudTitle_numfactura}" />
                    <h:outputLabel value="#{parametro.CreateBeSolicitudLabel_valorEmpleado}" for="valorEmpleado" />
                    <h:inputText id="valorEmpleado" value="#{beSolicitudController.selected.valorEmpleado}" title="#{parametro.CreateBeSolicitudTitle_valorEmpleado}" />
                    <h:outputLabel value="#{parametro.CreateBeSolicitudLabel_usuActividad}" for="usuActividad" />
                    <h:inputText id="usuActividad" value="#{beSolicitudController.selected.usuActividad}" title="#{parametro.CreateBeSolicitudTitle_usuActividad}" required="true" requiredMessage="#{parametro.CreateBeSolicitudRequiredMessage_usuActividad}"/>
                    <h:outputLabel value="#{parametro.CreateBeSolicitudLabel_tipActividad}" for="tipActividad" />
                    <h:inputText id="tipActividad" value="#{beSolicitudController.selected.tipActividad}" title="#{parametro.CreateBeSolicitudTitle_tipActividad}" required="true" requiredMessage="#{parametro.CreateBeSolicitudRequiredMessage_tipActividad}"/>
                    <h:outputLabel value="#{parametro.CreateBeSolicitudLabel_horActividad}" for="horActividad" />
                    <h:inputText id="horActividad" value="#{beSolicitudController.selected.horActividad}" title="#{parametro.CreateBeSolicitudTitle_horActividad}" required="true" requiredMessage="#{parametro.CreateBeSolicitudRequiredMessage_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.CreateBeSolicitudLabel_codTomador}" for="codTomador" />
                    <h:selectOneMenu id="codTomador" value="#{beSolicitudController.selected.codTomador}" title="#{parametro.CreateBeSolicitudTitle_codTomador}" required="true" requiredMessage="#{parametro.CreateBeSolicitudRequiredMessage_codTomador}">
                        <f:selectItems value="#{biTerceroController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{parametro.CreateBeSolicitudLabel_codtipoServicio}" for="codtipoServicio" />
                    <h:selectOneMenu id="codtipoServicio" value="#{beSolicitudController.selected.codtipoServicio}" title="#{parametro.CreateBeSolicitudTitle_codtipoServicio}" required="true" requiredMessage="#{parametro.CreateBeSolicitudRequiredMessage_codtipoServicio}">
                        <f:selectItems value="#{beTiposervicioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{parametro.CreateBeSolicitudLabel_codContratoSolicitante}" for="codContratoSolicitante" />
                    <h:selectOneMenu id="codContratoSolicitante" value="#{beSolicitudController.selected.codContratoSolicitante}" title="#{parametro.CreateBeSolicitudTitle_codContratoSolicitante}" >
                        <f:selectItems value="#{biContratosempleadoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{beSolicitudController.create}" value="#{parametro.CreateBeSolicitudSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{beSolicitudController.prepareList}" value="#{parametro.CreateBeSolicitudShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.CreateBeSolicitudIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
