<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListBeSolicitudTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListBeSolicitudEmpty}" rendered="#{beSolicitudController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{beSolicitudController.items.rowCount > 0}">
                    <h:outputText value="#{beSolicitudController.pagination.pageFirstItem + 1}..#{beSolicitudController.pagination.pageLastItem + 1}/#{beSolicitudController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{beSolicitudController.previous}" value="#{parametro.Previous} #{beSolicitudController.pagination.pageSize}" rendered="#{beSolicitudController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{beSolicitudController.next}" value="#{parametro.Next} #{beSolicitudController.pagination.pageSize}" rendered="#{beSolicitudController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{beSolicitudController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeSolicitudTitle_codSolicitud}"/>
                            </f:facet>
                            <h:outputText value="#{item.codSolicitud}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeSolicitudTitle_estSolicitud}"/>
                            </f:facet>
                            <h:outputText value="#{item.estSolicitud}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeSolicitudTitle_fecSolicitud}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecSolicitud}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeSolicitudTitle_observaciones}"/>
                            </f:facet>
                            <h:outputText value="#{item.observaciones}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeSolicitudTitle_valorEmpresa}"/>
                            </f:facet>
                            <h:outputText value="#{item.valorEmpresa}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeSolicitudTitle_numfactura}"/>
                            </f:facet>
                            <h:outputText value="#{item.numfactura}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeSolicitudTitle_valorEmpleado}"/>
                            </f:facet>
                            <h:outputText value="#{item.valorEmpleado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeSolicitudTitle_usuActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeSolicitudTitle_tipActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeSolicitudTitle_horActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.horActividad}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeSolicitudTitle_codTomador}"/>
                            </f:facet>
                            <h:outputText value="#{item.codTomador}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeSolicitudTitle_codtipoServicio}"/>
                            </f:facet>
                            <h:outputText value="#{item.codtipoServicio}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeSolicitudTitle_codContratoSolicitante}"/>
                            </f:facet>
                            <h:outputText value="#{item.codContratoSolicitante}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{beSolicitudController.prepareView}" value="#{parametro.ListBeSolicitudViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{beSolicitudController.prepareEdit}" value="#{parametro.ListBeSolicitudEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{beSolicitudController.destroy}" value="#{parametro.ListBeSolicitudDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{beSolicitudController.prepareCreate}" value="#{parametro.ListBeSolicitudCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListBeSolicitudIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
