<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewBeSolicitudTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewBeSolicitudLabel_codSolicitud}"/>
                    <h:outputText value="#{beSolicitudController.selected.codSolicitud}" title="#{parametro.ViewBeSolicitudTitle_codSolicitud}"/>
                    <h:outputText value="#{parametro.ViewBeSolicitudLabel_estSolicitud}"/>
                    <h:outputText value="#{beSolicitudController.selected.estSolicitud}" title="#{parametro.ViewBeSolicitudTitle_estSolicitud}"/>
                    <h:outputText value="#{parametro.ViewBeSolicitudLabel_fecSolicitud}"/>
                    <h:outputText value="#{beSolicitudController.selected.fecSolicitud}" title="#{parametro.ViewBeSolicitudTitle_fecSolicitud}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{parametro.ViewBeSolicitudLabel_observaciones}"/>
                    <h:outputText value="#{beSolicitudController.selected.observaciones}" title="#{parametro.ViewBeSolicitudTitle_observaciones}"/>
                    <h:outputText value="#{parametro.ViewBeSolicitudLabel_valorEmpresa}"/>
                    <h:outputText value="#{beSolicitudController.selected.valorEmpresa}" title="#{parametro.ViewBeSolicitudTitle_valorEmpresa}"/>
                    <h:outputText value="#{parametro.ViewBeSolicitudLabel_numfactura}"/>
                    <h:outputText value="#{beSolicitudController.selected.numfactura}" title="#{parametro.ViewBeSolicitudTitle_numfactura}"/>
                    <h:outputText value="#{parametro.ViewBeSolicitudLabel_valorEmpleado}"/>
                    <h:outputText value="#{beSolicitudController.selected.valorEmpleado}" title="#{parametro.ViewBeSolicitudTitle_valorEmpleado}"/>
                    <h:outputText value="#{parametro.ViewBeSolicitudLabel_usuActividad}"/>
                    <h:outputText value="#{beSolicitudController.selected.usuActividad}" title="#{parametro.ViewBeSolicitudTitle_usuActividad}"/>
                    <h:outputText value="#{parametro.ViewBeSolicitudLabel_tipActividad}"/>
                    <h:outputText value="#{beSolicitudController.selected.tipActividad}" title="#{parametro.ViewBeSolicitudTitle_tipActividad}"/>
                    <h:outputText value="#{parametro.ViewBeSolicitudLabel_horActividad}"/>
                    <h:outputText value="#{beSolicitudController.selected.horActividad}" title="#{parametro.ViewBeSolicitudTitle_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{parametro.ViewBeSolicitudLabel_codTomador}"/>
                    <h:outputText value="#{beSolicitudController.selected.codTomador}" title="#{parametro.ViewBeSolicitudTitle_codTomador}"/>
                    <h:outputText value="#{parametro.ViewBeSolicitudLabel_codtipoServicio}"/>
                    <h:outputText value="#{beSolicitudController.selected.codtipoServicio}" title="#{parametro.ViewBeSolicitudTitle_codtipoServicio}"/>
                    <h:outputText value="#{parametro.ViewBeSolicitudLabel_codContratoSolicitante}"/>
                    <h:outputText value="#{beSolicitudController.selected.codContratoSolicitante}" title="#{parametro.ViewBeSolicitudTitle_codContratoSolicitante}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{beSolicitudController.destroyAndView}" value="#{parametro.ViewBeSolicitudDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewBeSolicitudEditLink}"/>
                <br />
                <h:commandLink action="#{beSolicitudController.prepareCreate}" value="#{parametro.ViewBeSolicitudCreateLink}" />
                <br />
                <h:commandLink action="#{beSolicitudController.prepareList}" value="#{parametro.ViewBeSolicitudShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewBeSolicitudIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
