<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.EditBeTiposervicioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.EditBeTiposervicioLabel_codTipoServicio}" for="codTipoServicio" />
                    <h:inputText id="codTipoServicio" value="#{beTiposervicioController.selected.codTipoServicio}" title="#{parametro.EditBeTiposervicioTitle_codTipoServicio}" required="true" requiredMessage="#{parametro.EditBeTiposervicioRequiredMessage_codTipoServicio}"/>
                    <h:outputLabel value="#{parametro.EditBeTiposervicioLabel_nomTipoServicio}" for="nomTipoServicio" />
                    <h:inputText id="nomTipoServicio" value="#{beTiposervicioController.selected.nomTipoServicio}" title="#{parametro.EditBeTiposervicioTitle_nomTipoServicio}" required="true" requiredMessage="#{parametro.EditBeTiposervicioRequiredMessage_nomTipoServicio}"/>
                    <h:outputLabel value="#{parametro.EditBeTiposervicioLabel_indActividad}" for="indActividad" />
                    <h:inputText id="indActividad" value="#{beTiposervicioController.selected.indActividad}" title="#{parametro.EditBeTiposervicioTitle_indActividad}" required="true" requiredMessage="#{parametro.EditBeTiposervicioRequiredMessage_indActividad}"/>
                    <h:outputLabel value="#{parametro.EditBeTiposervicioLabel_actUsuario}" for="actUsuario" />
                    <h:inputText id="actUsuario" value="#{beTiposervicioController.selected.actUsuario}" title="#{parametro.EditBeTiposervicioTitle_actUsuario}" required="true" requiredMessage="#{parametro.EditBeTiposervicioRequiredMessage_actUsuario}"/>
                    <h:outputLabel value="#{parametro.EditBeTiposervicioLabel_estActividad}" for="estActividad" />
                    <h:inputText id="estActividad" value="#{beTiposervicioController.selected.estActividad}" title="#{parametro.EditBeTiposervicioTitle_estActividad}" required="true" requiredMessage="#{parametro.EditBeTiposervicioRequiredMessage_estActividad}"/>
                    <h:outputLabel value="#{parametro.EditBeTiposervicioLabel_actHora}" for="actHora" />
                    <h:inputText id="actHora" value="#{beTiposervicioController.selected.actHora}" title="#{parametro.EditBeTiposervicioTitle_actHora}" required="true" requiredMessage="#{parametro.EditBeTiposervicioRequiredMessage_actHora}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.EditBeTiposervicioLabel_codBeneficio}" for="codBeneficio" />
                    <h:selectOneMenu id="codBeneficio" value="#{beTiposervicioController.selected.codBeneficio}" title="#{parametro.EditBeTiposervicioTitle_codBeneficio}" >
                        <f:selectItems value="#{beBenficioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{parametro.EditBeTiposervicioLabel_codContratoProveedor}" for="codContratoProveedor" />
                    <h:selectOneMenu id="codContratoProveedor" value="#{beTiposervicioController.selected.codContratoProveedor}" title="#{parametro.EditBeTiposervicioTitle_codContratoProveedor}" >
                        <f:selectItems value="#{biContratoproveedorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{beTiposervicioController.update}" value="#{parametro.EditBeTiposervicioSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{parametro.EditBeTiposervicioViewLink}"/>
                <br />
                <h:commandLink action="#{beTiposervicioController.prepareList}" value="#{parametro.EditBeTiposervicioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.EditBeTiposervicioIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
