<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListBeTiposervicioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListBeTiposervicioEmpty}" rendered="#{beTiposervicioController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{beTiposervicioController.items.rowCount > 0}">
                    <h:outputText value="#{beTiposervicioController.pagination.pageFirstItem + 1}..#{beTiposervicioController.pagination.pageLastItem + 1}/#{beTiposervicioController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{beTiposervicioController.previous}" value="#{parametro.Previous} #{beTiposervicioController.pagination.pageSize}" rendered="#{beTiposervicioController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{beTiposervicioController.next}" value="#{parametro.Next} #{beTiposervicioController.pagination.pageSize}" rendered="#{beTiposervicioController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{beTiposervicioController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeTiposervicioTitle_codTipoServicio}"/>
                            </f:facet>
                            <h:outputText value="#{item.codTipoServicio}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeTiposervicioTitle_nomTipoServicio}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomTipoServicio}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeTiposervicioTitle_indActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.indActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeTiposervicioTitle_actUsuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.actUsuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeTiposervicioTitle_estActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.estActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeTiposervicioTitle_actHora}"/>
                            </f:facet>
                            <h:outputText value="#{item.actHora}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeTiposervicioTitle_codBeneficio}"/>
                            </f:facet>
                            <h:outputText value="#{item.codBeneficio}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBeTiposervicioTitle_codContratoProveedor}"/>
                            </f:facet>
                            <h:outputText value="#{item.codContratoProveedor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{beTiposervicioController.prepareView}" value="#{parametro.ListBeTiposervicioViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{beTiposervicioController.prepareEdit}" value="#{parametro.ListBeTiposervicioEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{beTiposervicioController.destroy}" value="#{parametro.ListBeTiposervicioDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{beTiposervicioController.prepareCreate}" value="#{parametro.ListBeTiposervicioCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListBeTiposervicioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
