<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewBeTiposervicioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewBeTiposervicioLabel_codTipoServicio}"/>
                    <h:outputText value="#{beTiposervicioController.selected.codTipoServicio}" title="#{parametro.ViewBeTiposervicioTitle_codTipoServicio}"/>
                    <h:outputText value="#{parametro.ViewBeTiposervicioLabel_nomTipoServicio}"/>
                    <h:outputText value="#{beTiposervicioController.selected.nomTipoServicio}" title="#{parametro.ViewBeTiposervicioTitle_nomTipoServicio}"/>
                    <h:outputText value="#{parametro.ViewBeTiposervicioLabel_indActividad}"/>
                    <h:outputText value="#{beTiposervicioController.selected.indActividad}" title="#{parametro.ViewBeTiposervicioTitle_indActividad}"/>
                    <h:outputText value="#{parametro.ViewBeTiposervicioLabel_actUsuario}"/>
                    <h:outputText value="#{beTiposervicioController.selected.actUsuario}" title="#{parametro.ViewBeTiposervicioTitle_actUsuario}"/>
                    <h:outputText value="#{parametro.ViewBeTiposervicioLabel_estActividad}"/>
                    <h:outputText value="#{beTiposervicioController.selected.estActividad}" title="#{parametro.ViewBeTiposervicioTitle_estActividad}"/>
                    <h:outputText value="#{parametro.ViewBeTiposervicioLabel_actHora}"/>
                    <h:outputText value="#{beTiposervicioController.selected.actHora}" title="#{parametro.ViewBeTiposervicioTitle_actHora}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{parametro.ViewBeTiposervicioLabel_codBeneficio}"/>
                    <h:outputText value="#{beTiposervicioController.selected.codBeneficio}" title="#{parametro.ViewBeTiposervicioTitle_codBeneficio}"/>
                    <h:outputText value="#{parametro.ViewBeTiposervicioLabel_codContratoProveedor}"/>
                    <h:outputText value="#{beTiposervicioController.selected.codContratoProveedor}" title="#{parametro.ViewBeTiposervicioTitle_codContratoProveedor}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{beTiposervicioController.destroyAndView}" value="#{parametro.ViewBeTiposervicioDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewBeTiposervicioEditLink}"/>
                <br />
                <h:commandLink action="#{beTiposervicioController.prepareCreate}" value="#{parametro.ViewBeTiposervicioCreateLink}" />
                <br />
                <h:commandLink action="#{beTiposervicioController.prepareList}" value="#{parametro.ViewBeTiposervicioShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewBeTiposervicioIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
