<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.CreateGnMunicipioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.CreateGnMunicipioLabel_codMunicipio}" for="codMunicipio" />
                    <h:inputText id="codMunicipio" value="#{gnMunicipioController.selected.codMunicipio}" title="#{parametro.CreateGnMunicipioTitle_codMunicipio}" required="true" requiredMessage="#{parametro.CreateGnMunicipioRequiredMessage_codMunicipio}"/>
                    <h:outputLabel value="#{parametro.CreateGnMunicipioLabel_codSuip}" for="codSuip" />
                    <h:inputText id="codSuip" value="#{gnMunicipioController.selected.codSuip}" title="#{parametro.CreateGnMunicipioTitle_codSuip}" required="true" requiredMessage="#{parametro.CreateGnMunicipioRequiredMessage_codSuip}"/>
                    <h:outputLabel value="#{parametro.CreateGnMunicipioLabel_nomMunicipio}" for="nomMunicipio" />
                    <h:inputText id="nomMunicipio" value="#{gnMunicipioController.selected.nomMunicipio}" title="#{parametro.CreateGnMunicipioTitle_nomMunicipio}" />
                    <h:outputLabel value="#{parametro.CreateGnMunicipioLabel_usuActividad}" for="usuActividad" />
                    <h:inputText id="usuActividad" value="#{gnMunicipioController.selected.usuActividad}" title="#{parametro.CreateGnMunicipioTitle_usuActividad}" required="true" requiredMessage="#{parametro.CreateGnMunicipioRequiredMessage_usuActividad}"/>
                    <h:outputLabel value="#{parametro.CreateGnMunicipioLabel_tipActividad}" for="tipActividad" />
                    <h:inputText id="tipActividad" value="#{gnMunicipioController.selected.tipActividad}" title="#{parametro.CreateGnMunicipioTitle_tipActividad}" required="true" requiredMessage="#{parametro.CreateGnMunicipioRequiredMessage_tipActividad}"/>
                    <h:outputLabel value="#{parametro.CreateGnMunicipioLabel_horActividad}" for="horActividad" />
                    <h:inputText id="horActividad" value="#{gnMunicipioController.selected.horActividad}" title="#{parametro.CreateGnMunicipioTitle_horActividad}" required="true" requiredMessage="#{parametro.CreateGnMunicipioRequiredMessage_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.CreateGnMunicipioLabel_codDepartamento}" for="codDepartamento" />
                    <h:selectOneMenu id="codDepartamento" value="#{gnMunicipioController.selected.codDepartamento}" title="#{parametro.CreateGnMunicipioTitle_codDepartamento}" required="true" requiredMessage="#{parametro.CreateGnMunicipioRequiredMessage_codDepartamento}">
                        <f:selectItems value="#{gnDepartamentoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gnMunicipioController.create}" value="#{parametro.CreateGnMunicipioSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{gnMunicipioController.prepareList}" value="#{parametro.CreateGnMunicipioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.CreateGnMunicipioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
