<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.EditGnMunicipioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.EditGnMunicipioLabel_codMunicipio}" for="codMunicipio" />
                    <h:inputText id="codMunicipio" value="#{gnMunicipioController.selected.codMunicipio}" title="#{parametro.EditGnMunicipioTitle_codMunicipio}" required="true" requiredMessage="#{parametro.EditGnMunicipioRequiredMessage_codMunicipio}"/>
                    <h:outputLabel value="#{parametro.EditGnMunicipioLabel_codSuip}" for="codSuip" />
                    <h:inputText id="codSuip" value="#{gnMunicipioController.selected.codSuip}" title="#{parametro.EditGnMunicipioTitle_codSuip}" required="true" requiredMessage="#{parametro.EditGnMunicipioRequiredMessage_codSuip}"/>
                    <h:outputLabel value="#{parametro.EditGnMunicipioLabel_nomMunicipio}" for="nomMunicipio" />
                    <h:inputText id="nomMunicipio" value="#{gnMunicipioController.selected.nomMunicipio}" title="#{parametro.EditGnMunicipioTitle_nomMunicipio}" />
                    <h:outputLabel value="#{parametro.EditGnMunicipioLabel_usuActividad}" for="usuActividad" />
                    <h:inputText id="usuActividad" value="#{gnMunicipioController.selected.usuActividad}" title="#{parametro.EditGnMunicipioTitle_usuActividad}" required="true" requiredMessage="#{parametro.EditGnMunicipioRequiredMessage_usuActividad}"/>
                    <h:outputLabel value="#{parametro.EditGnMunicipioLabel_tipActividad}" for="tipActividad" />
                    <h:inputText id="tipActividad" value="#{gnMunicipioController.selected.tipActividad}" title="#{parametro.EditGnMunicipioTitle_tipActividad}" required="true" requiredMessage="#{parametro.EditGnMunicipioRequiredMessage_tipActividad}"/>
                    <h:outputLabel value="#{parametro.EditGnMunicipioLabel_horActividad}" for="horActividad" />
                    <h:inputText id="horActividad" value="#{gnMunicipioController.selected.horActividad}" title="#{parametro.EditGnMunicipioTitle_horActividad}" required="true" requiredMessage="#{parametro.EditGnMunicipioRequiredMessage_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.EditGnMunicipioLabel_codDepartamento}" for="codDepartamento" />
                    <h:selectOneMenu id="codDepartamento" value="#{gnMunicipioController.selected.codDepartamento}" title="#{parametro.EditGnMunicipioTitle_codDepartamento}" required="true" requiredMessage="#{parametro.EditGnMunicipioRequiredMessage_codDepartamento}">
                        <f:selectItems value="#{gnDepartamentoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{gnMunicipioController.update}" value="#{parametro.EditGnMunicipioSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{parametro.EditGnMunicipioViewLink}"/>
                <br />
                <h:commandLink action="#{gnMunicipioController.prepareList}" value="#{parametro.EditGnMunicipioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.EditGnMunicipioIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
