<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListGnMunicipioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListGnMunicipioEmpty}" rendered="#{gnMunicipioController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{gnMunicipioController.items.rowCount > 0}">
                    <h:outputText value="#{gnMunicipioController.pagination.pageFirstItem + 1}..#{gnMunicipioController.pagination.pageLastItem + 1}/#{gnMunicipioController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{gnMunicipioController.previous}" value="#{parametro.Previous} #{gnMunicipioController.pagination.pageSize}" rendered="#{gnMunicipioController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{gnMunicipioController.next}" value="#{parametro.Next} #{gnMunicipioController.pagination.pageSize}" rendered="#{gnMunicipioController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{gnMunicipioController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnMunicipioTitle_codMunicipio}"/>
                            </f:facet>
                            <h:outputText value="#{item.codMunicipio}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnMunicipioTitle_codSuip}"/>
                            </f:facet>
                            <h:outputText value="#{item.codSuip}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnMunicipioTitle_nomMunicipio}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomMunicipio}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnMunicipioTitle_usuActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnMunicipioTitle_tipActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnMunicipioTitle_horActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.horActividad}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnMunicipioTitle_codDepartamento}"/>
                            </f:facet>
                            <h:outputText value="#{item.codDepartamento}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{gnMunicipioController.prepareView}" value="#{parametro.ListGnMunicipioViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnMunicipioController.prepareEdit}" value="#{parametro.ListGnMunicipioEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnMunicipioController.destroy}" value="#{parametro.ListGnMunicipioDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{gnMunicipioController.prepareCreate}" value="#{parametro.ListGnMunicipioCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListGnMunicipioIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
