<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewGnMunicipioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewGnMunicipioLabel_codMunicipio}"/>
                    <h:outputText value="#{gnMunicipioController.selected.codMunicipio}" title="#{parametro.ViewGnMunicipioTitle_codMunicipio}"/>
                    <h:outputText value="#{parametro.ViewGnMunicipioLabel_codSuip}"/>
                    <h:outputText value="#{gnMunicipioController.selected.codSuip}" title="#{parametro.ViewGnMunicipioTitle_codSuip}"/>
                    <h:outputText value="#{parametro.ViewGnMunicipioLabel_nomMunicipio}"/>
                    <h:outputText value="#{gnMunicipioController.selected.nomMunicipio}" title="#{parametro.ViewGnMunicipioTitle_nomMunicipio}"/>
                    <h:outputText value="#{parametro.ViewGnMunicipioLabel_usuActividad}"/>
                    <h:outputText value="#{gnMunicipioController.selected.usuActividad}" title="#{parametro.ViewGnMunicipioTitle_usuActividad}"/>
                    <h:outputText value="#{parametro.ViewGnMunicipioLabel_tipActividad}"/>
                    <h:outputText value="#{gnMunicipioController.selected.tipActividad}" title="#{parametro.ViewGnMunicipioTitle_tipActividad}"/>
                    <h:outputText value="#{parametro.ViewGnMunicipioLabel_horActividad}"/>
                    <h:outputText value="#{gnMunicipioController.selected.horActividad}" title="#{parametro.ViewGnMunicipioTitle_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{parametro.ViewGnMunicipioLabel_codDepartamento}"/>
                    <h:outputText value="#{gnMunicipioController.selected.codDepartamento}" title="#{parametro.ViewGnMunicipioTitle_codDepartamento}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gnMunicipioController.destroyAndView}" value="#{parametro.ViewGnMunicipioDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewGnMunicipioEditLink}"/>
                <br />
                <h:commandLink action="#{gnMunicipioController.prepareCreate}" value="#{parametro.ViewGnMunicipioCreateLink}" />
                <br />
                <h:commandLink action="#{gnMunicipioController.prepareList}" value="#{parametro.ViewGnMunicipioShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewGnMunicipioIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
