<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.EditGnAuditoriaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.EditGnAuditoriaLabel_codAuditoria}" for="codAuditoria" />
                    <h:inputText id="codAuditoria" value="#{gnAuditoriaController.selected.codAuditoria}" title="#{parametro.EditGnAuditoriaTitle_codAuditoria}" required="true" requiredMessage="#{parametro.EditGnAuditoriaRequiredMessage_codAuditoria}"/>
                    <h:outputLabel value="#{parametro.EditGnAuditoriaLabel_fecha}" for="fecha" />
                    <h:inputText id="fecha" value="#{gnAuditoriaController.selected.fecha}" title="#{parametro.EditGnAuditoriaTitle_fecha}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.EditGnAuditoriaLabel_tipoModificacion}" for="tipoModificacion" />
                    <h:inputText id="tipoModificacion" value="#{gnAuditoriaController.selected.tipoModificacion}" title="#{parametro.EditGnAuditoriaTitle_tipoModificacion}" />
                    <h:outputLabel value="#{parametro.EditGnAuditoriaLabel_usuario}" for="usuario" />
                    <h:inputText id="usuario" value="#{gnAuditoriaController.selected.usuario}" title="#{parametro.EditGnAuditoriaTitle_usuario}" />
                    <h:outputLabel value="#{parametro.EditGnAuditoriaLabel_tabla}" for="tabla" />
                    <h:inputText id="tabla" value="#{gnAuditoriaController.selected.tabla}" title="#{parametro.EditGnAuditoriaTitle_tabla}" />
                    <h:outputLabel value="#{parametro.EditGnAuditoriaLabel_tipTercero}" for="tipTercero" />
                    <h:inputText id="tipTercero" value="#{gnAuditoriaController.selected.tipTercero}" title="#{parametro.EditGnAuditoriaTitle_tipTercero}" />
                    <h:outputLabel value="#{parametro.EditGnAuditoriaLabel_codTercero}" for="codTercero" />
                    <h:inputText id="codTercero" value="#{gnAuditoriaController.selected.codTercero}" title="#{parametro.EditGnAuditoriaTitle_codTercero}" />
                    <h:outputLabel value="#{parametro.EditGnAuditoriaLabel_tipIdentificacion}" for="tipIdentificacion" />
                    <h:inputText id="tipIdentificacion" value="#{gnAuditoriaController.selected.tipIdentificacion}" title="#{parametro.EditGnAuditoriaTitle_tipIdentificacion}" />
                    <h:outputLabel value="#{parametro.EditGnAuditoriaLabel_desTercero}" for="desTercero" />
                    <h:inputTextarea rows="4" cols="30" id="desTercero" value="#{gnAuditoriaController.selected.desTercero}" title="#{parametro.EditGnAuditoriaTitle_desTercero}" />
                    <h:outputLabel value="#{parametro.EditGnAuditoriaLabel_descripcion}" for="descripcion" />
                    <h:inputTextarea rows="4" cols="30" id="descripcion" value="#{gnAuditoriaController.selected.descripcion}" title="#{parametro.EditGnAuditoriaTitle_descripcion}" />
                </h:panelGrid>
                <h:commandLink action="#{gnAuditoriaController.update}" value="#{parametro.EditGnAuditoriaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{parametro.EditGnAuditoriaViewLink}"/>
                <br />
                <h:commandLink action="#{gnAuditoriaController.prepareList}" value="#{parametro.EditGnAuditoriaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.EditGnAuditoriaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
