<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListGnAuditoriaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListGnAuditoriaEmpty}" rendered="#{gnAuditoriaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{gnAuditoriaController.items.rowCount > 0}">
                    <h:outputText value="#{gnAuditoriaController.pagination.pageFirstItem + 1}..#{gnAuditoriaController.pagination.pageLastItem + 1}/#{gnAuditoriaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{gnAuditoriaController.previous}" value="#{parametro.Previous} #{gnAuditoriaController.pagination.pageSize}" rendered="#{gnAuditoriaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{gnAuditoriaController.next}" value="#{parametro.Next} #{gnAuditoriaController.pagination.pageSize}" rendered="#{gnAuditoriaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{gnAuditoriaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnAuditoriaTitle_codAuditoria}"/>
                            </f:facet>
                            <h:outputText value="#{item.codAuditoria}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnAuditoriaTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnAuditoriaTitle_tipoModificacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipoModificacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnAuditoriaTitle_usuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnAuditoriaTitle_tabla}"/>
                            </f:facet>
                            <h:outputText value="#{item.tabla}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnAuditoriaTitle_tipTercero}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipTercero}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnAuditoriaTitle_codTercero}"/>
                            </f:facet>
                            <h:outputText value="#{item.codTercero}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnAuditoriaTitle_tipIdentificacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipIdentificacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnAuditoriaTitle_desTercero}"/>
                            </f:facet>
                            <h:outputText value="#{item.desTercero}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnAuditoriaTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{gnAuditoriaController.prepareView}" value="#{parametro.ListGnAuditoriaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnAuditoriaController.prepareEdit}" value="#{parametro.ListGnAuditoriaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnAuditoriaController.destroy}" value="#{parametro.ListGnAuditoriaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{gnAuditoriaController.prepareCreate}" value="#{parametro.ListGnAuditoriaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListGnAuditoriaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
