<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewGnAuditoriaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewGnAuditoriaLabel_codAuditoria}"/>
                    <h:outputText value="#{gnAuditoriaController.selected.codAuditoria}" title="#{parametro.ViewGnAuditoriaTitle_codAuditoria}"/>
                    <h:outputText value="#{parametro.ViewGnAuditoriaLabel_fecha}"/>
                    <h:outputText value="#{gnAuditoriaController.selected.fecha}" title="#{parametro.ViewGnAuditoriaTitle_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{parametro.ViewGnAuditoriaLabel_tipoModificacion}"/>
                    <h:outputText value="#{gnAuditoriaController.selected.tipoModificacion}" title="#{parametro.ViewGnAuditoriaTitle_tipoModificacion}"/>
                    <h:outputText value="#{parametro.ViewGnAuditoriaLabel_usuario}"/>
                    <h:outputText value="#{gnAuditoriaController.selected.usuario}" title="#{parametro.ViewGnAuditoriaTitle_usuario}"/>
                    <h:outputText value="#{parametro.ViewGnAuditoriaLabel_tabla}"/>
                    <h:outputText value="#{gnAuditoriaController.selected.tabla}" title="#{parametro.ViewGnAuditoriaTitle_tabla}"/>
                    <h:outputText value="#{parametro.ViewGnAuditoriaLabel_tipTercero}"/>
                    <h:outputText value="#{gnAuditoriaController.selected.tipTercero}" title="#{parametro.ViewGnAuditoriaTitle_tipTercero}"/>
                    <h:outputText value="#{parametro.ViewGnAuditoriaLabel_codTercero}"/>
                    <h:outputText value="#{gnAuditoriaController.selected.codTercero}" title="#{parametro.ViewGnAuditoriaTitle_codTercero}"/>
                    <h:outputText value="#{parametro.ViewGnAuditoriaLabel_tipIdentificacion}"/>
                    <h:outputText value="#{gnAuditoriaController.selected.tipIdentificacion}" title="#{parametro.ViewGnAuditoriaTitle_tipIdentificacion}"/>
                    <h:outputText value="#{parametro.ViewGnAuditoriaLabel_desTercero}"/>
                    <h:outputText value="#{gnAuditoriaController.selected.desTercero}" title="#{parametro.ViewGnAuditoriaTitle_desTercero}"/>
                    <h:outputText value="#{parametro.ViewGnAuditoriaLabel_descripcion}"/>
                    <h:outputText value="#{gnAuditoriaController.selected.descripcion}" title="#{parametro.ViewGnAuditoriaTitle_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gnAuditoriaController.destroyAndView}" value="#{parametro.ViewGnAuditoriaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewGnAuditoriaEditLink}"/>
                <br />
                <h:commandLink action="#{gnAuditoriaController.prepareCreate}" value="#{parametro.ViewGnAuditoriaCreateLink}" />
                <br />
                <h:commandLink action="#{gnAuditoriaController.prepareList}" value="#{parametro.ViewGnAuditoriaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewGnAuditoriaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
