<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.CreateGnPermisoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.CreateGnPermisoLabel_idPermiso}" for="idPermiso" />
                    <h:inputText id="idPermiso" value="#{gnPermisoController.selected.idPermiso}" title="#{parametro.CreateGnPermisoTitle_idPermiso}" required="true" requiredMessage="#{parametro.CreateGnPermisoRequiredMessage_idPermiso}"/>
                    <h:outputLabel value="#{parametro.CreateGnPermisoLabel_nombrePermiso}" for="nombrePermiso" />
                    <h:inputText id="nombrePermiso" value="#{gnPermisoController.selected.nombrePermiso}" title="#{parametro.CreateGnPermisoTitle_nombrePermiso}" required="true" requiredMessage="#{parametro.CreateGnPermisoRequiredMessage_nombrePermiso}"/>
                    <h:outputLabel value="#{parametro.CreateGnPermisoLabel_url}" for="url" />
                    <h:inputText id="url" value="#{gnPermisoController.selected.url}" title="#{parametro.CreateGnPermisoTitle_url}" required="true" requiredMessage="#{parametro.CreateGnPermisoRequiredMessage_url}"/>
                    <h:outputLabel value="#{parametro.CreateGnPermisoLabel_usuActividad}" for="usuActividad" />
                    <h:inputText id="usuActividad" value="#{gnPermisoController.selected.usuActividad}" title="#{parametro.CreateGnPermisoTitle_usuActividad}" required="true" requiredMessage="#{parametro.CreateGnPermisoRequiredMessage_usuActividad}"/>
                    <h:outputLabel value="#{parametro.CreateGnPermisoLabel_tipActividad}" for="tipActividad" />
                    <h:inputText id="tipActividad" value="#{gnPermisoController.selected.tipActividad}" title="#{parametro.CreateGnPermisoTitle_tipActividad}" required="true" requiredMessage="#{parametro.CreateGnPermisoRequiredMessage_tipActividad}"/>
                    <h:outputLabel value="#{parametro.CreateGnPermisoLabel_horActividad}" for="horActividad" />
                    <h:inputText id="horActividad" value="#{gnPermisoController.selected.horActividad}" title="#{parametro.CreateGnPermisoTitle_horActividad}" required="true" requiredMessage="#{parametro.CreateGnPermisoRequiredMessage_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.CreateGnPermisoLabel_permisoPadre}" for="permisoPadre" />
                    <h:selectOneMenu id="permisoPadre" value="#{gnPermisoController.selected.permisoPadre}" title="#{parametro.CreateGnPermisoTitle_permisoPadre}" required="true" requiredMessage="#{parametro.CreateGnPermisoRequiredMessage_permisoPadre}">
                        <f:selectItems value="#{gnPermisoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gnPermisoController.create}" value="#{parametro.CreateGnPermisoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{gnPermisoController.prepareList}" value="#{parametro.CreateGnPermisoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.CreateGnPermisoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
