<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.EditGnPermisoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.EditGnPermisoLabel_idPermiso}" for="idPermiso" />
                    <h:inputText id="idPermiso" value="#{gnPermisoController.selected.idPermiso}" title="#{parametro.EditGnPermisoTitle_idPermiso}" required="true" requiredMessage="#{parametro.EditGnPermisoRequiredMessage_idPermiso}"/>
                    <h:outputLabel value="#{parametro.EditGnPermisoLabel_nombrePermiso}" for="nombrePermiso" />
                    <h:inputText id="nombrePermiso" value="#{gnPermisoController.selected.nombrePermiso}" title="#{parametro.EditGnPermisoTitle_nombrePermiso}" required="true" requiredMessage="#{parametro.EditGnPermisoRequiredMessage_nombrePermiso}"/>
                    <h:outputLabel value="#{parametro.EditGnPermisoLabel_url}" for="url" />
                    <h:inputText id="url" value="#{gnPermisoController.selected.url}" title="#{parametro.EditGnPermisoTitle_url}" required="true" requiredMessage="#{parametro.EditGnPermisoRequiredMessage_url}"/>
                    <h:outputLabel value="#{parametro.EditGnPermisoLabel_usuActividad}" for="usuActividad" />
                    <h:inputText id="usuActividad" value="#{gnPermisoController.selected.usuActividad}" title="#{parametro.EditGnPermisoTitle_usuActividad}" required="true" requiredMessage="#{parametro.EditGnPermisoRequiredMessage_usuActividad}"/>
                    <h:outputLabel value="#{parametro.EditGnPermisoLabel_tipActividad}" for="tipActividad" />
                    <h:inputText id="tipActividad" value="#{gnPermisoController.selected.tipActividad}" title="#{parametro.EditGnPermisoTitle_tipActividad}" required="true" requiredMessage="#{parametro.EditGnPermisoRequiredMessage_tipActividad}"/>
                    <h:outputLabel value="#{parametro.EditGnPermisoLabel_horActividad}" for="horActividad" />
                    <h:inputText id="horActividad" value="#{gnPermisoController.selected.horActividad}" title="#{parametro.EditGnPermisoTitle_horActividad}" required="true" requiredMessage="#{parametro.EditGnPermisoRequiredMessage_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.EditGnPermisoLabel_permisoPadre}" for="permisoPadre" />
                    <h:selectOneMenu id="permisoPadre" value="#{gnPermisoController.selected.permisoPadre}" title="#{parametro.EditGnPermisoTitle_permisoPadre}" required="true" requiredMessage="#{parametro.EditGnPermisoRequiredMessage_permisoPadre}">
                        <f:selectItems value="#{gnPermisoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{gnPermisoController.update}" value="#{parametro.EditGnPermisoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{parametro.EditGnPermisoViewLink}"/>
                <br />
                <h:commandLink action="#{gnPermisoController.prepareList}" value="#{parametro.EditGnPermisoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.EditGnPermisoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
