<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListGnPermisoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListGnPermisoEmpty}" rendered="#{gnPermisoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{gnPermisoController.items.rowCount > 0}">
                    <h:outputText value="#{gnPermisoController.pagination.pageFirstItem + 1}..#{gnPermisoController.pagination.pageLastItem + 1}/#{gnPermisoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{gnPermisoController.previous}" value="#{parametro.Previous} #{gnPermisoController.pagination.pageSize}" rendered="#{gnPermisoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{gnPermisoController.next}" value="#{parametro.Next} #{gnPermisoController.pagination.pageSize}" rendered="#{gnPermisoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{gnPermisoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnPermisoTitle_idPermiso}"/>
                            </f:facet>
                            <h:outputText value="#{item.idPermiso}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnPermisoTitle_nombrePermiso}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombrePermiso}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnPermisoTitle_url}"/>
                            </f:facet>
                            <h:outputText value="#{item.url}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnPermisoTitle_usuActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnPermisoTitle_tipActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnPermisoTitle_horActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.horActividad}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnPermisoTitle_permisoPadre}"/>
                            </f:facet>
                            <h:outputText value="#{item.permisoPadre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{gnPermisoController.prepareView}" value="#{parametro.ListGnPermisoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnPermisoController.prepareEdit}" value="#{parametro.ListGnPermisoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnPermisoController.destroy}" value="#{parametro.ListGnPermisoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{gnPermisoController.prepareCreate}" value="#{parametro.ListGnPermisoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListGnPermisoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
