<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewGnPermisoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewGnPermisoLabel_idPermiso}"/>
                    <h:outputText value="#{gnPermisoController.selected.idPermiso}" title="#{parametro.ViewGnPermisoTitle_idPermiso}"/>
                    <h:outputText value="#{parametro.ViewGnPermisoLabel_nombrePermiso}"/>
                    <h:outputText value="#{gnPermisoController.selected.nombrePermiso}" title="#{parametro.ViewGnPermisoTitle_nombrePermiso}"/>
                    <h:outputText value="#{parametro.ViewGnPermisoLabel_url}"/>
                    <h:outputText value="#{gnPermisoController.selected.url}" title="#{parametro.ViewGnPermisoTitle_url}"/>
                    <h:outputText value="#{parametro.ViewGnPermisoLabel_usuActividad}"/>
                    <h:outputText value="#{gnPermisoController.selected.usuActividad}" title="#{parametro.ViewGnPermisoTitle_usuActividad}"/>
                    <h:outputText value="#{parametro.ViewGnPermisoLabel_tipActividad}"/>
                    <h:outputText value="#{gnPermisoController.selected.tipActividad}" title="#{parametro.ViewGnPermisoTitle_tipActividad}"/>
                    <h:outputText value="#{parametro.ViewGnPermisoLabel_horActividad}"/>
                    <h:outputText value="#{gnPermisoController.selected.horActividad}" title="#{parametro.ViewGnPermisoTitle_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{parametro.ViewGnPermisoLabel_permisoPadre}"/>
                    <h:outputText value="#{gnPermisoController.selected.permisoPadre}" title="#{parametro.ViewGnPermisoTitle_permisoPadre}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gnPermisoController.destroyAndView}" value="#{parametro.ViewGnPermisoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewGnPermisoEditLink}"/>
                <br />
                <h:commandLink action="#{gnPermisoController.prepareCreate}" value="#{parametro.ViewGnPermisoCreateLink}" />
                <br />
                <h:commandLink action="#{gnPermisoController.prepareList}" value="#{parametro.ViewGnPermisoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewGnPermisoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
