<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.CreateGnDepartamentoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.CreateGnDepartamentoLabel_codDepartamento}" for="codDepartamento" />
                    <h:inputText id="codDepartamento" value="#{gnDepartamentoController.selected.codDepartamento}" title="#{parametro.CreateGnDepartamentoTitle_codDepartamento}" required="true" requiredMessage="#{parametro.CreateGnDepartamentoRequiredMessage_codDepartamento}"/>
                    <h:outputLabel value="#{parametro.CreateGnDepartamentoLabel_nomDepartamento}" for="nomDepartamento" />
                    <h:inputText id="nomDepartamento" value="#{gnDepartamentoController.selected.nomDepartamento}" title="#{parametro.CreateGnDepartamentoTitle_nomDepartamento}" />
                    <h:outputLabel value="#{parametro.CreateGnDepartamentoLabel_usuActividad}" for="usuActividad" />
                    <h:inputText id="usuActividad" value="#{gnDepartamentoController.selected.usuActividad}" title="#{parametro.CreateGnDepartamentoTitle_usuActividad}" required="true" requiredMessage="#{parametro.CreateGnDepartamentoRequiredMessage_usuActividad}"/>
                    <h:outputLabel value="#{parametro.CreateGnDepartamentoLabel_tipActividad}" for="tipActividad" />
                    <h:inputText id="tipActividad" value="#{gnDepartamentoController.selected.tipActividad}" title="#{parametro.CreateGnDepartamentoTitle_tipActividad}" required="true" requiredMessage="#{parametro.CreateGnDepartamentoRequiredMessage_tipActividad}"/>
                    <h:outputLabel value="#{parametro.CreateGnDepartamentoLabel_horActividad}" for="horActividad" />
                    <h:inputText id="horActividad" value="#{gnDepartamentoController.selected.horActividad}" title="#{parametro.CreateGnDepartamentoTitle_horActividad}" required="true" requiredMessage="#{parametro.CreateGnDepartamentoRequiredMessage_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.CreateGnDepartamentoLabel_codPais}" for="codPais" />
                    <h:selectOneMenu id="codPais" value="#{gnDepartamentoController.selected.codPais}" title="#{parametro.CreateGnDepartamentoTitle_codPais}" required="true" requiredMessage="#{parametro.CreateGnDepartamentoRequiredMessage_codPais}">
                        <f:selectItems value="#{gnPaisController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gnDepartamentoController.create}" value="#{parametro.CreateGnDepartamentoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{gnDepartamentoController.prepareList}" value="#{parametro.CreateGnDepartamentoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.CreateGnDepartamentoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
