<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListGnDepartamentoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListGnDepartamentoEmpty}" rendered="#{gnDepartamentoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{gnDepartamentoController.items.rowCount > 0}">
                    <h:outputText value="#{gnDepartamentoController.pagination.pageFirstItem + 1}..#{gnDepartamentoController.pagination.pageLastItem + 1}/#{gnDepartamentoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{gnDepartamentoController.previous}" value="#{parametro.Previous} #{gnDepartamentoController.pagination.pageSize}" rendered="#{gnDepartamentoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{gnDepartamentoController.next}" value="#{parametro.Next} #{gnDepartamentoController.pagination.pageSize}" rendered="#{gnDepartamentoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{gnDepartamentoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnDepartamentoTitle_codDepartamento}"/>
                            </f:facet>
                            <h:outputText value="#{item.codDepartamento}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnDepartamentoTitle_nomDepartamento}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomDepartamento}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnDepartamentoTitle_usuActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnDepartamentoTitle_tipActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnDepartamentoTitle_horActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.horActividad}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnDepartamentoTitle_codPais}"/>
                            </f:facet>
                            <h:outputText value="#{item.codPais}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{gnDepartamentoController.prepareView}" value="#{parametro.ListGnDepartamentoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnDepartamentoController.prepareEdit}" value="#{parametro.ListGnDepartamentoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnDepartamentoController.destroy}" value="#{parametro.ListGnDepartamentoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{gnDepartamentoController.prepareCreate}" value="#{parametro.ListGnDepartamentoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListGnDepartamentoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
