<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewGnDepartamentoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewGnDepartamentoLabel_codDepartamento}"/>
                    <h:outputText value="#{gnDepartamentoController.selected.codDepartamento}" title="#{parametro.ViewGnDepartamentoTitle_codDepartamento}"/>
                    <h:outputText value="#{parametro.ViewGnDepartamentoLabel_nomDepartamento}"/>
                    <h:outputText value="#{gnDepartamentoController.selected.nomDepartamento}" title="#{parametro.ViewGnDepartamentoTitle_nomDepartamento}"/>
                    <h:outputText value="#{parametro.ViewGnDepartamentoLabel_usuActividad}"/>
                    <h:outputText value="#{gnDepartamentoController.selected.usuActividad}" title="#{parametro.ViewGnDepartamentoTitle_usuActividad}"/>
                    <h:outputText value="#{parametro.ViewGnDepartamentoLabel_tipActividad}"/>
                    <h:outputText value="#{gnDepartamentoController.selected.tipActividad}" title="#{parametro.ViewGnDepartamentoTitle_tipActividad}"/>
                    <h:outputText value="#{parametro.ViewGnDepartamentoLabel_horActividad}"/>
                    <h:outputText value="#{gnDepartamentoController.selected.horActividad}" title="#{parametro.ViewGnDepartamentoTitle_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{parametro.ViewGnDepartamentoLabel_codPais}"/>
                    <h:outputText value="#{gnDepartamentoController.selected.codPais}" title="#{parametro.ViewGnDepartamentoTitle_codPais}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gnDepartamentoController.destroyAndView}" value="#{parametro.ViewGnDepartamentoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewGnDepartamentoEditLink}"/>
                <br />
                <h:commandLink action="#{gnDepartamentoController.prepareCreate}" value="#{parametro.ViewGnDepartamentoCreateLink}" />
                <br />
                <h:commandLink action="#{gnDepartamentoController.prepareList}" value="#{parametro.ViewGnDepartamentoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewGnDepartamentoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
