<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.EditGnRolTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.EditGnRolLabel_codRol}" for="codRol" />
                    <h:inputText id="codRol" value="#{gnRolController.selected.codRol}" title="#{parametro.EditGnRolTitle_codRol}" required="true" requiredMessage="#{parametro.EditGnRolRequiredMessage_codRol}"/>
                    <h:outputLabel value="#{parametro.EditGnRolLabel_nomRol}" for="nomRol" />
                    <h:inputText id="nomRol" value="#{gnRolController.selected.nomRol}" title="#{parametro.EditGnRolTitle_nomRol}" required="true" requiredMessage="#{parametro.EditGnRolRequiredMessage_nomRol}"/>
                    <h:outputLabel value="#{parametro.EditGnRolLabel_tipRol}" for="tipRol" />
                    <h:inputText id="tipRol" value="#{gnRolController.selected.tipRol}" title="#{parametro.EditGnRolTitle_tipRol}" required="true" requiredMessage="#{parametro.EditGnRolRequiredMessage_tipRol}"/>
                    <h:outputLabel value="#{parametro.EditGnRolLabel_usuActividad}" for="usuActividad" />
                    <h:inputText id="usuActividad" value="#{gnRolController.selected.usuActividad}" title="#{parametro.EditGnRolTitle_usuActividad}" required="true" requiredMessage="#{parametro.EditGnRolRequiredMessage_usuActividad}"/>
                    <h:outputLabel value="#{parametro.EditGnRolLabel_tipActividad}" for="tipActividad" />
                    <h:inputText id="tipActividad" value="#{gnRolController.selected.tipActividad}" title="#{parametro.EditGnRolTitle_tipActividad}" required="true" requiredMessage="#{parametro.EditGnRolRequiredMessage_tipActividad}"/>
                    <h:outputLabel value="#{parametro.EditGnRolLabel_horActividad}" for="horActividad" />
                    <h:inputText id="horActividad" value="#{gnRolController.selected.horActividad}" title="#{parametro.EditGnRolTitle_horActividad}" required="true" requiredMessage="#{parametro.EditGnRolRequiredMessage_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                </h:panelGrid>
                <h:commandLink action="#{gnRolController.update}" value="#{parametro.EditGnRolSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{parametro.EditGnRolViewLink}"/>
                <br />
                <h:commandLink action="#{gnRolController.prepareList}" value="#{parametro.EditGnRolShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.EditGnRolIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
