<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListGnRolTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListGnRolEmpty}" rendered="#{gnRolController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{gnRolController.items.rowCount > 0}">
                    <h:outputText value="#{gnRolController.pagination.pageFirstItem + 1}..#{gnRolController.pagination.pageLastItem + 1}/#{gnRolController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{gnRolController.previous}" value="#{parametro.Previous} #{gnRolController.pagination.pageSize}" rendered="#{gnRolController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{gnRolController.next}" value="#{parametro.Next} #{gnRolController.pagination.pageSize}" rendered="#{gnRolController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{gnRolController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnRolTitle_codRol}"/>
                            </f:facet>
                            <h:outputText value="#{item.codRol}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnRolTitle_nomRol}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomRol}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnRolTitle_tipRol}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipRol}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnRolTitle_usuActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnRolTitle_tipActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnRolTitle_horActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.horActividad}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{gnRolController.prepareView}" value="#{parametro.ListGnRolViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnRolController.prepareEdit}" value="#{parametro.ListGnRolEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnRolController.destroy}" value="#{parametro.ListGnRolDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{gnRolController.prepareCreate}" value="#{parametro.ListGnRolCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListGnRolIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
