<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewGnRolTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewGnRolLabel_codRol}"/>
                    <h:outputText value="#{gnRolController.selected.codRol}" title="#{parametro.ViewGnRolTitle_codRol}"/>
                    <h:outputText value="#{parametro.ViewGnRolLabel_nomRol}"/>
                    <h:outputText value="#{gnRolController.selected.nomRol}" title="#{parametro.ViewGnRolTitle_nomRol}"/>
                    <h:outputText value="#{parametro.ViewGnRolLabel_tipRol}"/>
                    <h:outputText value="#{gnRolController.selected.tipRol}" title="#{parametro.ViewGnRolTitle_tipRol}"/>
                    <h:outputText value="#{parametro.ViewGnRolLabel_usuActividad}"/>
                    <h:outputText value="#{gnRolController.selected.usuActividad}" title="#{parametro.ViewGnRolTitle_usuActividad}"/>
                    <h:outputText value="#{parametro.ViewGnRolLabel_tipActividad}"/>
                    <h:outputText value="#{gnRolController.selected.tipActividad}" title="#{parametro.ViewGnRolTitle_tipActividad}"/>
                    <h:outputText value="#{parametro.ViewGnRolLabel_horActividad}"/>
                    <h:outputText value="#{gnRolController.selected.horActividad}" title="#{parametro.ViewGnRolTitle_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gnRolController.destroyAndView}" value="#{parametro.ViewGnRolDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewGnRolEditLink}"/>
                <br />
                <h:commandLink action="#{gnRolController.prepareCreate}" value="#{parametro.ViewGnRolCreateLink}" />
                <br />
                <h:commandLink action="#{gnRolController.prepareList}" value="#{parametro.ViewGnRolShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewGnRolIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
