<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.EditGnTipodocumentoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.EditGnTipodocumentoLabel_codTipoDocumentos}" for="codTipoDocumentos" />
                    <h:inputText id="codTipoDocumentos" value="#{gnTipodocumentoController.selected.codTipoDocumentos}" title="#{parametro.EditGnTipodocumentoTitle_codTipoDocumentos}" required="true" requiredMessage="#{parametro.EditGnTipodocumentoRequiredMessage_codTipoDocumentos}"/>
                    <h:outputLabel value="#{parametro.EditGnTipodocumentoLabel_nomDocumento}" for="nomDocumento" />
                    <h:inputText id="nomDocumento" value="#{gnTipodocumentoController.selected.nomDocumento}" title="#{parametro.EditGnTipodocumentoTitle_nomDocumento}" required="true" requiredMessage="#{parametro.EditGnTipodocumentoRequiredMessage_nomDocumento}"/>
                    <h:outputLabel value="#{parametro.EditGnTipodocumentoLabel_usuActividad}" for="usuActividad" />
                    <h:inputText id="usuActividad" value="#{gnTipodocumentoController.selected.usuActividad}" title="#{parametro.EditGnTipodocumentoTitle_usuActividad}" required="true" requiredMessage="#{parametro.EditGnTipodocumentoRequiredMessage_usuActividad}"/>
                    <h:outputLabel value="#{parametro.EditGnTipodocumentoLabel_tipActividad}" for="tipActividad" />
                    <h:inputText id="tipActividad" value="#{gnTipodocumentoController.selected.tipActividad}" title="#{parametro.EditGnTipodocumentoTitle_tipActividad}" required="true" requiredMessage="#{parametro.EditGnTipodocumentoRequiredMessage_tipActividad}"/>
                    <h:outputLabel value="#{parametro.EditGnTipodocumentoLabel_horActividad}" for="horActividad" />
                    <h:inputText id="horActividad" value="#{gnTipodocumentoController.selected.horActividad}" title="#{parametro.EditGnTipodocumentoTitle_horActividad}" required="true" requiredMessage="#{parametro.EditGnTipodocumentoRequiredMessage_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                </h:panelGrid>
                <h:commandLink action="#{gnTipodocumentoController.update}" value="#{parametro.EditGnTipodocumentoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{parametro.EditGnTipodocumentoViewLink}"/>
                <br />
                <h:commandLink action="#{gnTipodocumentoController.prepareList}" value="#{parametro.EditGnTipodocumentoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.EditGnTipodocumentoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
