<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListGnTipodocumentoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListGnTipodocumentoEmpty}" rendered="#{gnTipodocumentoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{gnTipodocumentoController.items.rowCount > 0}">
                    <h:outputText value="#{gnTipodocumentoController.pagination.pageFirstItem + 1}..#{gnTipodocumentoController.pagination.pageLastItem + 1}/#{gnTipodocumentoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{gnTipodocumentoController.previous}" value="#{parametro.Previous} #{gnTipodocumentoController.pagination.pageSize}" rendered="#{gnTipodocumentoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{gnTipodocumentoController.next}" value="#{parametro.Next} #{gnTipodocumentoController.pagination.pageSize}" rendered="#{gnTipodocumentoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{gnTipodocumentoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnTipodocumentoTitle_codTipoDocumentos}"/>
                            </f:facet>
                            <h:outputText value="#{item.codTipoDocumentos}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnTipodocumentoTitle_nomDocumento}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomDocumento}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnTipodocumentoTitle_usuActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnTipodocumentoTitle_tipActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnTipodocumentoTitle_horActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.horActividad}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{gnTipodocumentoController.prepareView}" value="#{parametro.ListGnTipodocumentoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnTipodocumentoController.prepareEdit}" value="#{parametro.ListGnTipodocumentoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnTipodocumentoController.destroy}" value="#{parametro.ListGnTipodocumentoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{gnTipodocumentoController.prepareCreate}" value="#{parametro.ListGnTipodocumentoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListGnTipodocumentoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
