<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewGnTipodocumentoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewGnTipodocumentoLabel_codTipoDocumentos}"/>
                    <h:outputText value="#{gnTipodocumentoController.selected.codTipoDocumentos}" title="#{parametro.ViewGnTipodocumentoTitle_codTipoDocumentos}"/>
                    <h:outputText value="#{parametro.ViewGnTipodocumentoLabel_nomDocumento}"/>
                    <h:outputText value="#{gnTipodocumentoController.selected.nomDocumento}" title="#{parametro.ViewGnTipodocumentoTitle_nomDocumento}"/>
                    <h:outputText value="#{parametro.ViewGnTipodocumentoLabel_usuActividad}"/>
                    <h:outputText value="#{gnTipodocumentoController.selected.usuActividad}" title="#{parametro.ViewGnTipodocumentoTitle_usuActividad}"/>
                    <h:outputText value="#{parametro.ViewGnTipodocumentoLabel_tipActividad}"/>
                    <h:outputText value="#{gnTipodocumentoController.selected.tipActividad}" title="#{parametro.ViewGnTipodocumentoTitle_tipActividad}"/>
                    <h:outputText value="#{parametro.ViewGnTipodocumentoLabel_horActividad}"/>
                    <h:outputText value="#{gnTipodocumentoController.selected.horActividad}" title="#{parametro.ViewGnTipodocumentoTitle_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gnTipodocumentoController.destroyAndView}" value="#{parametro.ViewGnTipodocumentoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewGnTipodocumentoEditLink}"/>
                <br />
                <h:commandLink action="#{gnTipodocumentoController.prepareCreate}" value="#{parametro.ViewGnTipodocumentoCreateLink}" />
                <br />
                <h:commandLink action="#{gnTipodocumentoController.prepareList}" value="#{parametro.ViewGnTipodocumentoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewGnTipodocumentoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
