<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.CreateBiSueldoempleadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.CreateBiSueldoempleadoLabel_codSueldo}" for="codSueldo" />
                    <h:inputText id="codSueldo" value="#{biSueldoempleadoController.selected.codSueldo}" title="#{parametro.CreateBiSueldoempleadoTitle_codSueldo}" required="true" requiredMessage="#{parametro.CreateBiSueldoempleadoRequiredMessage_codSueldo}"/>
                    <h:outputLabel value="#{parametro.CreateBiSueldoempleadoLabel_sueldo}" for="sueldo" />
                    <h:inputText id="sueldo" value="#{biSueldoempleadoController.selected.sueldo}" title="#{parametro.CreateBiSueldoempleadoTitle_sueldo}" />
                    <h:outputLabel value="#{parametro.CreateBiSueldoempleadoLabel_actUsuario}" for="actUsuario" />
                    <h:inputText id="actUsuario" value="#{biSueldoempleadoController.selected.actUsuario}" title="#{parametro.CreateBiSueldoempleadoTitle_actUsuario}" />
                    <h:outputLabel value="#{parametro.CreateBiSueldoempleadoLabel_estActividad}" for="estActividad" />
                    <h:inputText id="estActividad" value="#{biSueldoempleadoController.selected.estActividad}" title="#{parametro.CreateBiSueldoempleadoTitle_estActividad}" />
                    <h:outputLabel value="#{parametro.CreateBiSueldoempleadoLabel_horActividad}" for="horActividad" />
                    <h:inputText id="horActividad" value="#{biSueldoempleadoController.selected.horActividad}" title="#{parametro.CreateBiSueldoempleadoTitle_horActividad}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.CreateBiSueldoempleadoLabel_codContrato}" for="codContrato" />
                    <h:selectOneMenu id="codContrato" value="#{biSueldoempleadoController.selected.codContrato}" title="#{parametro.CreateBiSueldoempleadoTitle_codContrato}" >
                        <f:selectItems value="#{biContratosempleadoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{biSueldoempleadoController.create}" value="#{parametro.CreateBiSueldoempleadoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{biSueldoempleadoController.prepareList}" value="#{parametro.CreateBiSueldoempleadoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.CreateBiSueldoempleadoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
