<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListBiSueldoempleadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListBiSueldoempleadoEmpty}" rendered="#{biSueldoempleadoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{biSueldoempleadoController.items.rowCount > 0}">
                    <h:outputText value="#{biSueldoempleadoController.pagination.pageFirstItem + 1}..#{biSueldoempleadoController.pagination.pageLastItem + 1}/#{biSueldoempleadoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{biSueldoempleadoController.previous}" value="#{parametro.Previous} #{biSueldoempleadoController.pagination.pageSize}" rendered="#{biSueldoempleadoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{biSueldoempleadoController.next}" value="#{parametro.Next} #{biSueldoempleadoController.pagination.pageSize}" rendered="#{biSueldoempleadoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{biSueldoempleadoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiSueldoempleadoTitle_codSueldo}"/>
                            </f:facet>
                            <h:outputText value="#{item.codSueldo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiSueldoempleadoTitle_sueldo}"/>
                            </f:facet>
                            <h:outputText value="#{item.sueldo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiSueldoempleadoTitle_actUsuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.actUsuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiSueldoempleadoTitle_estActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.estActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiSueldoempleadoTitle_horActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.horActividad}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListBiSueldoempleadoTitle_codContrato}"/>
                            </f:facet>
                            <h:outputText value="#{item.codContrato}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{biSueldoempleadoController.prepareView}" value="#{parametro.ListBiSueldoempleadoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{biSueldoempleadoController.prepareEdit}" value="#{parametro.ListBiSueldoempleadoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{biSueldoempleadoController.destroy}" value="#{parametro.ListBiSueldoempleadoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{biSueldoempleadoController.prepareCreate}" value="#{parametro.ListBiSueldoempleadoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListBiSueldoempleadoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
