<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewBiSueldoempleadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewBiSueldoempleadoLabel_codSueldo}"/>
                    <h:outputText value="#{biSueldoempleadoController.selected.codSueldo}" title="#{parametro.ViewBiSueldoempleadoTitle_codSueldo}"/>
                    <h:outputText value="#{parametro.ViewBiSueldoempleadoLabel_sueldo}"/>
                    <h:outputText value="#{biSueldoempleadoController.selected.sueldo}" title="#{parametro.ViewBiSueldoempleadoTitle_sueldo}"/>
                    <h:outputText value="#{parametro.ViewBiSueldoempleadoLabel_actUsuario}"/>
                    <h:outputText value="#{biSueldoempleadoController.selected.actUsuario}" title="#{parametro.ViewBiSueldoempleadoTitle_actUsuario}"/>
                    <h:outputText value="#{parametro.ViewBiSueldoempleadoLabel_estActividad}"/>
                    <h:outputText value="#{biSueldoempleadoController.selected.estActividad}" title="#{parametro.ViewBiSueldoempleadoTitle_estActividad}"/>
                    <h:outputText value="#{parametro.ViewBiSueldoempleadoLabel_horActividad}"/>
                    <h:outputText value="#{biSueldoempleadoController.selected.horActividad}" title="#{parametro.ViewBiSueldoempleadoTitle_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{parametro.ViewBiSueldoempleadoLabel_codContrato}"/>
                    <h:outputText value="#{biSueldoempleadoController.selected.codContrato}" title="#{parametro.ViewBiSueldoempleadoTitle_codContrato}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{biSueldoempleadoController.destroyAndView}" value="#{parametro.ViewBiSueldoempleadoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewBiSueldoempleadoEditLink}"/>
                <br />
                <h:commandLink action="#{biSueldoempleadoController.prepareCreate}" value="#{parametro.ViewBiSueldoempleadoCreateLink}" />
                <br />
                <h:commandLink action="#{biSueldoempleadoController.prepareList}" value="#{parametro.ViewBiSueldoempleadoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewBiSueldoempleadoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
