<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.EditGnPaisTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.EditGnPaisLabel_codPais}" for="codPais" />
                    <h:inputText id="codPais" value="#{gnPaisController.selected.codPais}" title="#{parametro.EditGnPaisTitle_codPais}" required="true" requiredMessage="#{parametro.EditGnPaisRequiredMessage_codPais}"/>
                    <h:outputLabel value="#{parametro.EditGnPaisLabel_nomPais}" for="nomPais" />
                    <h:inputText id="nomPais" value="#{gnPaisController.selected.nomPais}" title="#{parametro.EditGnPaisTitle_nomPais}" required="true" requiredMessage="#{parametro.EditGnPaisRequiredMessage_nomPais}"/>
                    <h:outputLabel value="#{parametro.EditGnPaisLabel_usuActividad}" for="usuActividad" />
                    <h:inputText id="usuActividad" value="#{gnPaisController.selected.usuActividad}" title="#{parametro.EditGnPaisTitle_usuActividad}" required="true" requiredMessage="#{parametro.EditGnPaisRequiredMessage_usuActividad}"/>
                    <h:outputLabel value="#{parametro.EditGnPaisLabel_tipActividad}" for="tipActividad" />
                    <h:inputText id="tipActividad" value="#{gnPaisController.selected.tipActividad}" title="#{parametro.EditGnPaisTitle_tipActividad}" required="true" requiredMessage="#{parametro.EditGnPaisRequiredMessage_tipActividad}"/>
                    <h:outputLabel value="#{parametro.EditGnPaisLabel_horActividad}" for="horActividad" />
                    <h:inputText id="horActividad" value="#{gnPaisController.selected.horActividad}" title="#{parametro.EditGnPaisTitle_horActividad}" required="true" requiredMessage="#{parametro.EditGnPaisRequiredMessage_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                </h:panelGrid>
                <h:commandLink action="#{gnPaisController.update}" value="#{parametro.EditGnPaisSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{parametro.EditGnPaisViewLink}"/>
                <br />
                <h:commandLink action="#{gnPaisController.prepareList}" value="#{parametro.EditGnPaisShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.EditGnPaisIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
