<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListGnPaisTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{parametro.ListGnPaisEmpty}" rendered="#{gnPaisController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{gnPaisController.items.rowCount > 0}">
                    <h:outputText value="#{gnPaisController.pagination.pageFirstItem + 1}..#{gnPaisController.pagination.pageLastItem + 1}/#{gnPaisController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{gnPaisController.previous}" value="#{parametro.Previous} #{gnPaisController.pagination.pageSize}" rendered="#{gnPaisController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{gnPaisController.next}" value="#{parametro.Next} #{gnPaisController.pagination.pageSize}" rendered="#{gnPaisController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{gnPaisController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnPaisTitle_codPais}"/>
                            </f:facet>
                            <h:outputText value="#{item.codPais}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnPaisTitle_nomPais}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomPais}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnPaisTitle_usuActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnPaisTitle_tipActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipActividad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{parametro.ListGnPaisTitle_horActividad}"/>
                            </f:facet>
                            <h:outputText value="#{item.horActividad}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{gnPaisController.prepareView}" value="#{parametro.ListGnPaisViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnPaisController.prepareEdit}" value="#{parametro.ListGnPaisEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gnPaisController.destroy}" value="#{parametro.ListGnPaisDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{gnPaisController.prepareCreate}" value="#{parametro.ListGnPaisCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ListGnPaisIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
