<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewGnPaisTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewGnPaisLabel_codPais}"/>
                    <h:outputText value="#{gnPaisController.selected.codPais}" title="#{parametro.ViewGnPaisTitle_codPais}"/>
                    <h:outputText value="#{parametro.ViewGnPaisLabel_nomPais}"/>
                    <h:outputText value="#{gnPaisController.selected.nomPais}" title="#{parametro.ViewGnPaisTitle_nomPais}"/>
                    <h:outputText value="#{parametro.ViewGnPaisLabel_usuActividad}"/>
                    <h:outputText value="#{gnPaisController.selected.usuActividad}" title="#{parametro.ViewGnPaisTitle_usuActividad}"/>
                    <h:outputText value="#{parametro.ViewGnPaisLabel_tipActividad}"/>
                    <h:outputText value="#{gnPaisController.selected.tipActividad}" title="#{parametro.ViewGnPaisTitle_tipActividad}"/>
                    <h:outputText value="#{parametro.ViewGnPaisLabel_horActividad}"/>
                    <h:outputText value="#{gnPaisController.selected.horActividad}" title="#{parametro.ViewGnPaisTitle_horActividad}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gnPaisController.destroyAndView}" value="#{parametro.ViewGnPaisDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewGnPaisEditLink}"/>
                <br />
                <h:commandLink action="#{gnPaisController.prepareCreate}" value="#{parametro.ViewGnPaisCreateLink}" />
                <br />
                <h:commandLink action="#{gnPaisController.prepareList}" value="#{parametro.ViewGnPaisShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewGnPaisIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
