<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.CreateBeBenficioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_codBeneficio}" for="codBeneficio" />
                    <h:inputText id="codBeneficio" value="#{beBenficioController.selected.codBeneficio}" title="#{parametro.CreateBeBenficioTitle_codBeneficio}" required="true" requiredMessage="#{parametro.CreateBeBenficioRequiredMessage_codBeneficio}"/>
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_nombreBeneficio}" for="nombreBeneficio" />
                    <h:inputText id="nombreBeneficio" value="#{beBenficioController.selected.nombreBeneficio}" title="#{parametro.CreateBeBenficioTitle_nombreBeneficio}" required="true" requiredMessage="#{parametro.CreateBeBenficioRequiredMessage_nombreBeneficio}"/>
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_valor}" for="valor" />
                    <h:inputText id="valor" value="#{beBenficioController.selected.valor}" title="#{parametro.CreateBeBenficioTitle_valor}" />
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_desEmpleados}" for="desEmpleados" />
                    <h:inputText id="desEmpleados" value="#{beBenficioController.selected.desEmpleados}" title="#{parametro.CreateBeBenficioTitle_desEmpleados}" />
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_porEmpleado}" for="porEmpleado" />
                    <h:inputText id="porEmpleado" value="#{beBenficioController.selected.porEmpleado}" title="#{parametro.CreateBeBenficioTitle_porEmpleado}" />
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_porEmpresa}" for="porEmpresa" />
                    <h:inputText id="porEmpresa" value="#{beBenficioController.selected.porEmpresa}" title="#{parametro.CreateBeBenficioTitle_porEmpresa}" />
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_sobreSMLV}" for="sobreSMLV" />
                    <h:inputText id="sobreSMLV" value="#{beBenficioController.selected.sobreSMLV}" title="#{parametro.CreateBeBenficioTitle_sobreSMLV}" />
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_porSMLV}" for="porSMLV" />
                    <h:inputText id="porSMLV" value="#{beBenficioController.selected.porSMLV}" title="#{parametro.CreateBeBenficioTitle_porSMLV}" />
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_conFijo}" for="conFijo" />
                    <h:inputText id="conFijo" value="#{beBenficioController.selected.conFijo}" title="#{parametro.CreateBeBenficioTitle_conFijo}" />
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_conIndefinido}" for="conIndefinido" />
                    <h:inputText id="conIndefinido" value="#{beBenficioController.selected.conIndefinido}" title="#{parametro.CreateBeBenficioTitle_conIndefinido}" />
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_conSena}" for="conSena" />
                    <h:inputText id="conSena" value="#{beBenficioController.selected.conSena}" title="#{parametro.CreateBeBenficioTitle_conSena}" />
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_beneficarios}" for="beneficarios" />
                    <h:inputText id="beneficarios" value="#{beBenficioController.selected.beneficarios}" title="#{parametro.CreateBeBenficioTitle_beneficarios}" required="true" requiredMessage="#{parametro.CreateBeBenficioRequiredMessage_beneficarios}"/>
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_sueBasico}" for="sueBasico" />
                    <h:inputText id="sueBasico" value="#{beBenficioController.selected.sueBasico}" title="#{parametro.CreateBeBenficioTitle_sueBasico}" />
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_actUsuario}" for="actUsuario" />
                    <h:inputText id="actUsuario" value="#{beBenficioController.selected.actUsuario}" title="#{parametro.CreateBeBenficioTitle_actUsuario}" required="true" requiredMessage="#{parametro.CreateBeBenficioRequiredMessage_actUsuario}"/>
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_indActividad}" for="indActividad" />
                    <h:inputText id="indActividad" value="#{beBenficioController.selected.indActividad}" title="#{parametro.CreateBeBenficioTitle_indActividad}" />
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_actHora}" for="actHora" />
                    <h:inputText id="actHora" value="#{beBenficioController.selected.actHora}" title="#{parametro.CreateBeBenficioTitle_actHora}" required="true" requiredMessage="#{parametro.CreateBeBenficioRequiredMessage_actHora}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.CreateBeBenficioLabel_codTipoBeneficio}" for="codTipoBeneficio" />
                    <h:selectOneMenu id="codTipoBeneficio" value="#{beBenficioController.selected.codTipoBeneficio}" title="#{parametro.CreateBeBenficioTitle_codTipoBeneficio}" >
                        <f:selectItems value="#{beTipobeneficioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{beBenficioController.create}" value="#{parametro.CreateBeBenficioSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{beBenficioController.prepareList}" value="#{parametro.CreateBeBenficioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.CreateBeBenficioIndexLink}"/>
                <div class="row">
                    <div class="col-md-1">
                        <h:commandLink class="btn btn-success waves-effect" action="#{beBenficioController.create}">
                            <i class="material-icons">save</i>
                        </h:commandLink>
                    </div>
                    <div class="col-md-1">
                        <h:commandLink class="btn bg-indigo waves-effect" action="#{beBenficioController.prepareList}">
                            <i class="material-icons">storage</i>
                        </h:commandLink>
                    </div>
                    <div class="col-md-1">
                        <h:commandLink class="btn btn-primary waves-effect" action="inicio">
                            <i class="material-icons">home</i>
                        </h:commandLink>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
