<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.EditBeBenficioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_codBeneficio}" for="codBeneficio" />
                    <h:inputText id="codBeneficio" value="#{beBenficioController.selected.codBeneficio}" title="#{parametro.EditBeBenficioTitle_codBeneficio}" required="true" requiredMessage="#{parametro.EditBeBenficioRequiredMessage_codBeneficio}"/>
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_nombreBeneficio}" for="nombreBeneficio" />
                    <h:inputText id="nombreBeneficio" value="#{beBenficioController.selected.nombreBeneficio}" title="#{parametro.EditBeBenficioTitle_nombreBeneficio}" required="true" requiredMessage="#{parametro.EditBeBenficioRequiredMessage_nombreBeneficio}"/>
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_valor}" for="valor" />
                    <h:inputText id="valor" value="#{beBenficioController.selected.valor}" title="#{parametro.EditBeBenficioTitle_valor}" />
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_desEmpleados}" for="desEmpleados" />
                    <h:inputText id="desEmpleados" value="#{beBenficioController.selected.desEmpleados}" title="#{parametro.EditBeBenficioTitle_desEmpleados}" />
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_porEmpleado}" for="porEmpleado" />
                    <h:inputText id="porEmpleado" value="#{beBenficioController.selected.porEmpleado}" title="#{parametro.EditBeBenficioTitle_porEmpleado}" />
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_porEmpresa}" for="porEmpresa" />
                    <h:inputText id="porEmpresa" value="#{beBenficioController.selected.porEmpresa}" title="#{parametro.EditBeBenficioTitle_porEmpresa}" />
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_sobreSMLV}" for="sobreSMLV" />
                    <h:inputText id="sobreSMLV" value="#{beBenficioController.selected.sobreSMLV}" title="#{parametro.EditBeBenficioTitle_sobreSMLV}" />
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_porSMLV}" for="porSMLV" />
                    <h:inputText id="porSMLV" value="#{beBenficioController.selected.porSMLV}" title="#{parametro.EditBeBenficioTitle_porSMLV}" />
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_conFijo}" for="conFijo" />
                    <h:inputText id="conFijo" value="#{beBenficioController.selected.conFijo}" title="#{parametro.EditBeBenficioTitle_conFijo}" />
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_conIndefinido}" for="conIndefinido" />
                    <h:inputText id="conIndefinido" value="#{beBenficioController.selected.conIndefinido}" title="#{parametro.EditBeBenficioTitle_conIndefinido}" />
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_conSena}" for="conSena" />
                    <h:inputText id="conSena" value="#{beBenficioController.selected.conSena}" title="#{parametro.EditBeBenficioTitle_conSena}" />
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_beneficarios}" for="beneficarios" />
                    <h:inputText id="beneficarios" value="#{beBenficioController.selected.beneficarios}" title="#{parametro.EditBeBenficioTitle_beneficarios}" required="true" requiredMessage="#{parametro.EditBeBenficioRequiredMessage_beneficarios}"/>
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_sueBasico}" for="sueBasico" />
                    <h:inputText id="sueBasico" value="#{beBenficioController.selected.sueBasico}" title="#{parametro.EditBeBenficioTitle_sueBasico}" />
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_actUsuario}" for="actUsuario" />
                    <h:inputText id="actUsuario" value="#{beBenficioController.selected.actUsuario}" title="#{parametro.EditBeBenficioTitle_actUsuario}" required="true" requiredMessage="#{parametro.EditBeBenficioRequiredMessage_actUsuario}"/>
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_indActividad}" for="indActividad" />
                    <h:inputText id="indActividad" value="#{beBenficioController.selected.indActividad}" title="#{parametro.EditBeBenficioTitle_indActividad}" />
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_actHora}" for="actHora" />
                    <h:inputText id="actHora" value="#{beBenficioController.selected.actHora}" title="#{parametro.EditBeBenficioTitle_actHora}" required="true" requiredMessage="#{parametro.EditBeBenficioRequiredMessage_actHora}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{parametro.EditBeBenficioLabel_codTipoBeneficio}" for="codTipoBeneficio" />
                    <h:selectOneMenu id="codTipoBeneficio" value="#{beBenficioController.selected.codTipoBeneficio}" title="#{parametro.EditBeBenficioTitle_codTipoBeneficio}" >
                        <f:selectItems value="#{beTipobeneficioController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{beBenficioController.update}" value="#{parametro.EditBeBenficioSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{parametro.EditBeBenficioViewLink}"/>
                <br />
                <h:commandLink action="#{beBenficioController.prepareList}" value="#{parametro.EditBeBenficioShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.EditBeBenficioIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
