<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ListBeBenficioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGrid columns="4"> 
                    <h:panelGroup id="messagePanel" layout="block">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    </h:panelGroup>
                    <h:outputText escape="false" value="#{parametro.ListBeBenficioEmpty}" rendered="#{beBenficioController.items.rowCount == 0}"/>
                    <h:panelGroup rendered="#{beBenficioController.items.rowCount > 0}">
                        <h:outputText value="#{beBenficioController.pagination.pageFirstItem + 1}..#{beBenficioController.pagination.pageLastItem + 1}/#{beBenficioController.pagination.itemsCount}"/>&nbsp;
                        <h:commandLink action="#{beBenficioController.previous}" value="#{parametro.Previous} #{beBenficioController.pagination.pageSize}" rendered="#{beBenficioController.pagination.hasPreviousPage}"/>&nbsp;
                        <h:commandLink action="#{beBenficioController.next}" value="#{parametro.Next} #{beBenficioController.pagination.pageSize}" rendered="#{beBenficioController.pagination.hasNextPage}"/>&nbsp;
                        <h:dataTable value="#{beBenficioController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_codBeneficio}"/>
                                </f:facet>
                                <h:outputText value="#{item.codBeneficio}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_nombreBeneficio}"/>
                                </f:facet>
                                <h:outputText value="#{item.nombreBeneficio}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_valor}"/>
                                </f:facet>
                                <h:outputText value="#{item.valor}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_desEmpleados}"/>
                                </f:facet>
                                <h:outputText value="#{item.desEmpleados}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_porEmpleado}"/>
                                </f:facet>
                                <h:outputText value="#{item.porEmpleado}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_porEmpresa}"/>
                                </f:facet>
                                <h:outputText value="#{item.porEmpresa}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_sobreSMLV}"/>
                                </f:facet>
                                <h:outputText value="#{item.sobreSMLV}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_porSMLV}"/>
                                </f:facet>
                                <h:outputText value="#{item.porSMLV}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_conFijo}"/>
                                </f:facet>
                                <h:outputText value="#{item.conFijo}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_conIndefinido}"/>
                                </f:facet>
                                <h:outputText value="#{item.conIndefinido}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_conSena}"/>
                                </f:facet>
                                <h:outputText value="#{item.conSena}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_beneficarios}"/>
                                </f:facet>
                                <h:outputText value="#{item.beneficarios}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_sueBasico}"/>
                                </f:facet>
                                <h:outputText value="#{item.sueBasico}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_actUsuario}"/>
                                </f:facet>
                                <h:outputText value="#{item.actUsuario}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_indActividad}"/>
                                </f:facet>
                                <h:outputText value="#{item.indActividad}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_actHora}"/>
                                </f:facet>
                                <h:outputText value="#{item.actHora}">
                                    <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{parametro.ListBeBenficioTitle_codTipoBeneficio}"/>
                                </f:facet>
                                <h:outputText value="#{item.codTipoBeneficio}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="&nbsp;"/>
                                </f:facet>
                                <h:commandLink action="#{beBenficioController.prepareView}" value="#{parametro.ListBeBenficioViewLink}"/>
                                <h:outputText value=" "/>
                                <h:commandLink action="#{beBenficioController.prepareEdit}" value="#{parametro.ListBeBenficioEditLink}"/>
                                <h:outputText value=" "/>
                                <h:commandLink action="#{beBenficioController.destroy}" value="#{parametro.ListBeBenficioDestroyLink}"/>
                            </h:column>
                        </h:dataTable>
                    </h:panelGroup>
                    <br />
                    <br />
                    <br />
                </h:panelGrid>
                <div class="row">
                    <div class="col-md-1">
                        <h:commandLink class="btn bg-deep-purple waves-effect" action="#{beBenficioController.prepareCreate()}">
                            <i class="material-icons">add</i>
                        </h:commandLink>
                    </div>
                    <div class="col-md-1">
                        <h:commandLink class="btn bg-indigo waves-effect" >
                            <i class="material-icons">create</i>
                        </h:commandLink>
                    </div>
                    <div class="col-md-1">
                        <h:commandLink class="btn btn-danger waves-effect" >
                            <i class="material-icons">delete</i>
                        </h:commandLink>
                    </div>
                    <div class="col-md-1">
                        <h:commandLink class="btn btn-primary waves-effect" action="inicio">
                            <i class="material-icons">home</i>
                        </h:commandLink>
                    </div>
                </div>
         </h:form>
        </ui:define>
    </ui:composition>

</html>
