<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{parametro.ViewBeBenficioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_codBeneficio}"/>
                    <h:outputText value="#{beBenficioController.selected.codBeneficio}" title="#{parametro.ViewBeBenficioTitle_codBeneficio}"/>
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_nombreBeneficio}"/>
                    <h:outputText value="#{beBenficioController.selected.nombreBeneficio}" title="#{parametro.ViewBeBenficioTitle_nombreBeneficio}"/>
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_valor}"/>
                    <h:outputText value="#{beBenficioController.selected.valor}" title="#{parametro.ViewBeBenficioTitle_valor}"/>
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_desEmpleados}"/>
                    <h:outputText value="#{beBenficioController.selected.desEmpleados}" title="#{parametro.ViewBeBenficioTitle_desEmpleados}"/>
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_porEmpleado}"/>
                    <h:outputText value="#{beBenficioController.selected.porEmpleado}" title="#{parametro.ViewBeBenficioTitle_porEmpleado}"/>
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_porEmpresa}"/>
                    <h:outputText value="#{beBenficioController.selected.porEmpresa}" title="#{parametro.ViewBeBenficioTitle_porEmpresa}"/>
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_sobreSMLV}"/>
                    <h:outputText value="#{beBenficioController.selected.sobreSMLV}" title="#{parametro.ViewBeBenficioTitle_sobreSMLV}"/>
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_porSMLV}"/>
                    <h:outputText value="#{beBenficioController.selected.porSMLV}" title="#{parametro.ViewBeBenficioTitle_porSMLV}"/>
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_conFijo}"/>
                    <h:outputText value="#{beBenficioController.selected.conFijo}" title="#{parametro.ViewBeBenficioTitle_conFijo}"/>
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_conIndefinido}"/>
                    <h:outputText value="#{beBenficioController.selected.conIndefinido}" title="#{parametro.ViewBeBenficioTitle_conIndefinido}"/>
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_conSena}"/>
                    <h:outputText value="#{beBenficioController.selected.conSena}" title="#{parametro.ViewBeBenficioTitle_conSena}"/>
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_beneficarios}"/>
                    <h:outputText value="#{beBenficioController.selected.beneficarios}" title="#{parametro.ViewBeBenficioTitle_beneficarios}"/>
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_sueBasico}"/>
                    <h:outputText value="#{beBenficioController.selected.sueBasico}" title="#{parametro.ViewBeBenficioTitle_sueBasico}"/>
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_actUsuario}"/>
                    <h:outputText value="#{beBenficioController.selected.actUsuario}" title="#{parametro.ViewBeBenficioTitle_actUsuario}"/>
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_indActividad}"/>
                    <h:outputText value="#{beBenficioController.selected.indActividad}" title="#{parametro.ViewBeBenficioTitle_indActividad}"/>
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_actHora}"/>
                    <h:outputText value="#{beBenficioController.selected.actHora}" title="#{parametro.ViewBeBenficioTitle_actHora}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{parametro.ViewBeBenficioLabel_codTipoBeneficio}"/>
                    <h:outputText value="#{beBenficioController.selected.codTipoBeneficio}" title="#{parametro.ViewBeBenficioTitle_codTipoBeneficio}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{beBenficioController.destroyAndView}" value="#{parametro.ViewBeBenficioDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{parametro.ViewBeBenficioEditLink}"/>
                <br />
                <h:commandLink action="#{beBenficioController.prepareCreate}" value="#{parametro.ViewBeBenficioCreateLink}" />
                <br />
                <h:commandLink action="#{beBenficioController.prepareList}" value="#{parametro.ViewBeBenficioShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{parametro.ViewBeBenficioIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
