<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:atr="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <ui:include src="/WEB-INF/template/head.xhtml"/>

        <script> //ValidacionFormulario
            $("#sign_in").validationEngine();
        </script>

    </h:head>
    <h:body class="login-page">
        <div class="login-box">
            <ui:include src="/WEB-INF/template/logo.xhtml"/>
            <div class="card">
                <div class="body">
                    <h:form id="sign_in" class="form" prependId="false" >
                        <div class="msg">Inicio de Sesión</div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                            <div class="form-line">
                                <h:inputText styleClass="form-control alidate[required]" id="doc" atr:placeholder="Usuario" required="true"  value="#{inicioSesion.documento}"/>
                                <h:message for="doc" showSummary="true" showDetail="true"/>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
                            <div class="form-line">
                                <h:inputSecret class="form-control" id="clv" atr:placeholder="Contraseña" required="true" value="#{inicioSesion.clave}"/>
                                <h:message for="clv" showSummary="true" showDetail="true"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 p-t-5">
                                <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink" />
                                <label for="rememberme">Recordarme</label>
                            </div>
                            <div class="col-xs-4">
                                <h:commandButton class="btn btn-success bg-pink waves-effect" action="#{inicioSesion.iniciarSesion()}" value="Ingresar"/>
                            </div>
                        </div>
                        <div class="row m-t-15 m-b--20">                           
                            <div class="col-xs-8">
                                <h:link outcome="/olvidarContrasena" value="Recordar Contraseña"/>

                            </div>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>



        <ui:include src="/WEB-INF/template/scripts.xhtml"/>
    </h:body>
</html>

