<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:atr="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <ui:include src="/WEB-INF/template/head.xhtml" />
    </h:head>
    <h:body class="fp-page">
        <div class="fp-box">
            <ui:include src="/WEB-INF/template/logo.xhtml"/>
            <div class="card">
                <div class="body">
                    <h:form id="forgot_password" class="form" prependId="false" >
                        <div class="msg">
                            Ingrese el correo electronico que ingreso al momento del registro. Le enviaremos un correo electronico 
                            con su nombre y un link para restablecer su contraseña.  
<!--                            Enter your email address that you used to register. We'll send you an email with your username and a
                            link to reset your password.-->
                        </div>
                        <div class="input-group">
                     
                            <div class="form-line">
                                <h:inputText class="form-control" id="email" atr:placeholder="Correo electronico" required="true" />
                            </div>
                        </div>

                        <h:commandButton class="btn btn-block btn-lg bg-pink waves-effect" action="true" value="RESTABLECER"/>

                        <div class="row m-t-20 m-b--5 align-center">
                            <h:link outcome="/index" value="Iniciar"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>
        <ui:include src="/WEB-INF/template/scripts.xhtml"/>
    </h:body>
</html>
