<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="/app/beBenficio/List" value="Show All BeBenficio Items"/>
        <br />
        <h:link outcome="/app/beSolicitud/List" value="Show All BeSolicitud Items"/>
        <br />
        <h:link outcome="/app/beTipobeneficio/List" value="Show All BeTipobeneficio Items"/>
        <br />
        <h:link outcome="/app/beTiposervicio/List" value="Show All BeTiposervicio Items"/>
        <br />
        <h:link outcome="/app/biContratoproveedor/List" value="Show All BiContratoproveedor Items"/>
        <br />
        <h:link outcome="/app/biContratosempleado/List" value="Show All BiContratosempleado Items"/>
        <br />
        <h:link outcome="/app/biSueldoempleado/List" value="Show All BiSueldoempleado Items"/>
        <br />
        <h:link outcome="/app/biTercero/List" value="Show All BiTercero Items"/>
        <br />
        <h:link outcome="/app/gnAuditoria/List" value="Show All GnAuditoria Items"/>
        <br />
        <h:link outcome="/app/gnDepartamento/List" value="Show All GnDepartamento Items"/>
        <br />
        <h:link outcome="/app/gnDocadjunto/List" value="Show All GnDocadjunto Items"/>
        <br />
        <h:link outcome="/app/gnMunicipio/List" value="Show All GnMunicipio Items"/>
        <br />
        <h:link outcome="/app/gnPais/List" value="Show All GnPais Items"/>
        <br />
        <h:link outcome="/app/gnPermiso/List" value="Show All GnPermiso Items"/>
        <br />
        <h:link outcome="/app/gnRol/List" value="Show All GnRol Items"/>
        <br />
        <h:link outcome="/app/gnTipobeneficiario/List" value="Show All GnTipobeneficiario Items"/>
        <br />
        <h:link outcome="/app/gnTipodocumento/List" value="Show All GnTipodocumento Items"/>
        <br />
        <h:link outcome="/app/gnTipoidentificacion/List" value="Show All GnTipoidentificacion Items"/>
        <br />
        <h:link outcome="/app/peAsignacionpresupuesto/List" value="Show All PeAsignacionpresupuesto Items"/>
        <br />
        <h:link outcome="/app/peDetallepresupuesto/List" value="Show All PeDetallepresupuesto Items"/>
    </h:body>




















</html>

