<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:atr="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <head>
        <title>SIPRE - Error 500</title>
        <link href="resources/css/img_temp.css" rel="stylesheet"/>
        <link href="resources/css/style.css" rel="stylesheet"/>
    </head>
    <body id="page-error-500" class="four-zero-four">
        <div class="four-zero-four-container">
            <div class="error-code">500</div>
            <div class="error-message display-2">error de servidor interno</div>
            <div class="error-submessage">Estamos experimentando problemas internos del servidor, por favor inténtelo de nuevo más tarde.</div>
            <div class="button-place">
                <h:link outcome="index" value="Volve al Inicio" class="btn btn-success btn-lg waves-effect"/> 
            </div>
        </div>
    </body>
</html>
