<?xml version='1.0' encoding='UTF-8' ?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:atr="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <head>
        <title>SIPRE - Error 404</title>
        
        <!-- imagenes para 404 y 500-->
        <link href="resources/css/img_temp.css" rel="stylesheet"/>
        <link href="resources/css/bootstrap.css" rel="stylesheet"/>
        <link href="resources/css/materialize.css" rel="stylesheet"/>
        <link href="resources/css/style.css" rel="stylesheet"/>
    </head>
    <body id="page-error-404"  class="four-zero-four">
        <div id="style-page-404">
            <div class="four-zero-four-container">
                <div class="error-code">404</div>
                <div class="error-message">Página no encontrada</div>
                <div class="error-submessage" >
                        Disculpe! La Pagina Que Esta Buscando No Ha Podido Ser Encontrada.
                </div>
                <div class="button-place">
                    <h:link outcome="index" value="Volve al Inicio" class="btn btn-success btn-lg waves-effect"/> 
                </div>
            </div>    
        </div>
        <ui:include src="/WEB-INF/template/scripts.xhtml"/>
    </body>
</html>
