<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <ui:include src="/WEB-INF/template/head.xhtml"/>
    </h:head>

    <h:body class="theme-red">
        <ui:include src="/WEB-INF/template/pasoPagina.xhtml"/>
        <ui:include src="/WEB-INF/template/menu-superior.xhtml"/>

        <aside id="leftsidebar" class="sidebar">
            <ui:include src="/WEB-INF/template/informacionUsuario.xhtml"/>
            <ui:include src="/WEB-INF/template/menu.xhtml"/>
            <ui:include src="/WEB-INF/template/footer.xhtml"/>
        </aside>
        <ui:include src="/WEB-INF/template/temas.xhtml"/>
        <section class="content">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <ui:insert name="title">Default Title</ui:insert>
                            </h2>
                        </div>
                        <div class="body">
                            <ui:insert name="body" >Default Body</ui:insert>
                        </div>
                    </div>
                </div>
            </div>

            <ui:include src="/WEB-INF/template/scripts.xhtml"/>
        </section>
    </h:body>

</html>
